#cupom-wrap-image-block{
	&:before {
		background-image: url(../images/site_dist/cupom/spark.png);
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
}
#coupon-block {
	&:after{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		content: '';
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: 100% auto;
		/*
		@media all and ( max-width: 1280px ) {
			background-image: url('../images/site_dist/cupom/bg.png');
		}
		@media all and ( min-width: 1280px ) {
			background-image: url('../images/site_dist/cupom/2x/bg.png');
		}
		*/
	}
	.pseudo-table {
		display: table;
		width: 100%;
		max-width: 100%;
		border-spacing: 0px;
		@include box-sizing(border-box);
	}
	.blank-cells {
		//border-top: 2px dotted $c-yellow;
	}
	.pseudo-row {
		display: table-row;
	}
	.img-action-cells {
		display: table-cell;
		&.w-btn {
			width: 120px;
		}
		&.brd-t {
			//border-top: 2px dotted $c-yellow;
		}
	}
	.img-actions {
		cursor: pointer;
		width: 120px;
		height: 46px;
		font-weight: bold;
		background: transparent;
		@include appearance(none);
		@include box-sizing(border-box);
		@include border-radius(15px);
		border: 1px solid #fcf4a9;
		padding: 0 1em;
		color: $c-yellow;
	}
	.cupom-block-titles {
		font-weight: bold;
	}
	#share-title {
		margin-top: 0.5em;
		margin-bottom: 0em;
		margin-left: auto;
		margin-right: auto;
	}
	#share-title,
	#lets-share-description {
		width: 21em;
		margin:0 auto;
		text-align: left;
	}
	#lets-share-description {
		line-height: 1.8;
		margin-bottom: 1em;
	}
	#recycle-title {
		font-size: 0.9em;
	}
	#recycle-p {
		font-size: 0.75em;
		margin: 0.5em auto 3em;
		max-width: 27.4em;
		line-height: 1.5;
		text-align: justify;
	}
	a.share-btn {
		line-height: 34px;
	}
	.share-btn {

		@media all and ( min-width: 769px ) {
			width: 166px;
		}
		@media all and ( max-width: 769px ) {
			width: 246px;
		}
		
		height: 38px;
		cursor: pointer;
		position: relative;
		background-color: transparent;
		border: 2px dotted $c-yellow;
		text-align: left;
		padding-left: 44px;
		font-size: 0.8em;
		font-weight: bold;
		color: $c-yellow;
		outline: none;
		@include appearance(none);
		@include box-sizing(border-box);
		@include border-radius( 25px );
	}
	#icon-facebook,
	#icon-email {
		display: block;
		position: absolute;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
	#icon-facebook {
		width: 28px;
		height: 28px;
		left: 8px;
		top: 3px;
		background-image: url('../images/site_dist/cupom/fb.png');
	}
	#icon-email {
		width: 28px;
		height: 21px;
		left: 9px;
		top: 6px;
		background-image: url('../images/site_dist/cupom/icon-email.png');
	}
}

@media all and ( max-width: 768px ) {
	#coupon-block {
		$sparkSize: 52;
		#cupon-instruction-p {
			margin-bottom: 1.6em;
		}
		#cupom-image-block {
			position: relative;
			width: 100%;
			float: none;
			clear: both;
			text-align: center;
			z-index: 2;
		}
		#cupom-wrap-image-block {
			position: relative;
			margin: 2em auto;
			&:before {
				position: absolute;
				content: '';
				width: $sparkSize * 1px;
				height: $sparkSize * 1px;
				left: ($sparkSize/-2.4) * 1px;
				top: ($sparkSize/-2.4) * 1px;
			}
		}
		#cupom-image {
			width: 100%;
			display: block;
			margin: 0;
			padding: 0;
		}
		.img-action-cells {
			min-width: 20px;
			height: 20px;
		}
		.img-actions {
			font-size: 12px;
		}
		.lets-mobile-share,
		#lets-share,
		#lets-recycle {
			max-width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
		#lets-share,
		#lets-recycle {
			display: block;
		}
		#lets-share {
			margin-top: 2em;
			margin-bottom: 0em;
		}
		#lets-recycle {
			margin-top: 0em;
			margin-bottom: 0em;
		}
		#share-on-facebook {
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}
}

@media all and ( max-width: 567px ) {
	#coupon-block {
		.share-btn {
			display: block;
			margin: 1em auto 0 auto;
		}
	}
	#cupom-wrap-image-block {
		width: 260px;
		max-width: 70%;
	}
	.cupom-regular-text {
		font-size: 0.8em;
	}
}

@media all and ( min-width: 570px ) {
	#coupon-block {
		.share-btn {
			display: inline-block;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	#cupom-wrap-image-block {
		width: 347px;
		max-width: 70%;
	}
	.cupom-regular-text {
		font-size: 1em;
	}
}

@media all and ( min-width: 769px ) {
	#coupon-block {
		$sparkSize: 52;
		#cupom-image-block {
			padding-left: 40px;
			position: relative;
			@include box-sizing(border-box);
		}
		#cupom-wrap-image-block {
			position: relative;
			z-index: 2;
			margin-bottom: -370px;
			&:before {
				position: absolute;
				content: '';
				width: $sparkSize * 1px;
				height: $sparkSize * 1px;
				left: ($sparkSize/-2.4) * 1px;
				top: ($sparkSize/-2.4) * 1px;
			}
		}
		#promo-info-block {
			position: relative;
			z-index: 1;
			width:  86%;
			height: 410px;
			left: 10%;
			@include box-sizing(border-box);
			/*
			&:after {
				display: block;;
				position: absolute;
				right: -46px;
				bottom: -10px;
				width: 53px;
				height: 53px;
				background-image: url('../images/site_dist/cupom/coracoes.png');
				background-repeat: no-repeat;
				content: '';
			}
			*/
		}
		.img-action-cells {
			min-width: 20px;
			height: 20px;
			&.right-top-corner {
				border-radius: 0px 15px 0px 0px;
				//border-right: 2px dotted $c-yellow;
			}
		}
		.img-actions {
			width: 130px;
		}

		.pseudo-table,
		#lets-share,
		#lets-recycle {
			float: left;
			width: 100%;
		}
		.pseudo-table {
			position: relative;
		}
		#lets-share {
			position: relative;
			@include box-sizing(border-box);
			//border-right: 2px dotted $c-yellow;
		}
		#lets-recycle {
			@include box-sizing( content-box );
			padding-left: 60px;
			position: relative;
			left: -64px;
			&:before {
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				//border-right: 2px dotted $c-yellow;
				//border-left: 2px dotted $c-yellow;
				//border-bottom: 2px dotted $c-yellow;
				@include border-radius( 0 0 10px 10px);
			}
			@include border-radius( 0 0 10px 10px);
		}
		.cupom-block-titles {
			padding-top: 1em;
			text-align: center;
		}
		.share-btn {
			display: block;
			margin: 1em auto;
		}
	}
}
@media all and ( min-width: 769px ) and (max-width: 840px ) {
	#coupon-block {
		#promo-info-block {
			padding-left: 250px;
		}
	}
}

@media all and ( min-width: 840px )  {
	#coupon-block {
		#promo-info-block {
			padding-left: 331px;
			left: 0;
		}
	}
}

@media all and ( min-width: 968px )  {
	#cupom-image-block {
		display: block;
		margin: 0 auto;
		max-width: 968px;
	}
}

.beauty-success-modal,
.email-share-modal,
.sms-modal {
	@media all and (min-width: 541px) {
		.tingle-modal-box {
			max-width: 350px;
		}
		.tingle-modal-box__footer {
			padding: 1em 1em;
		}
	}
}

#sms-phone-block,
.email-share-block {
	color: #444;
	max-width: 300px;
	display: block;
	margin: 0 auto;
	input, label {
		display: block;
	}
	input {
		margin-top: 0.5em;
		width: 100%;
		height: 40px;
		padding: 0 0.7em;
		@include box-sizing(border-box);
	}
}
.email-share-block + .email-share-block {
	margin-top: 1em;
}
.error-modal {
	color: #ff6262;
}
.success-modal {
	color: #62ff62;
}
#cupom-attention {
	display: block;
	margin: 0em 0 1em 0;
	font-weight: bold;
}

@media all and (max-width: 768px) {
	#download-on-device { margin-top: 1em; }
	.lets-mobile-share {
		display: block;
		margin-top: 0em;
		margin-bottom: 2em;
		.share-btn {
			padding: 0;
			padding-left: 0 !important;
			text-align: center !important;
			margin-top: 1em;
		}
	}
}

@media all and ( max-width: 568px) {
	#send-using-email {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

@media all and (min-width: 769px) {
	.lets-mobile-share {
		display: none;
	}
	.lets-mobile-share {
		display: none;
	}
}
#send-using-email {
	display: none !important;
}
#lets-share #share-on-facebook {
	display: none !important;
}
#lets-share #share-on-facebook {
	border: 1px solid #fcf4a9;
}