#duvidas #page-title {
	margin-bottom: 0.7em;
}
#duvidas-block {
	margin-top: 1em;
}
#duvidas-block	 {
	/*
	background-image: url('../images/site_dist/duvidas/ilustras.png');
	background-repeat: no-repeat;
	background-position: 100% auto;
	*/
}
#faq-list{
	padding: 0;
	max-width: 96%;
	margin: 0 auto;
}
.faq-items {
	width: 100%;
	display: inline-block;
	border-radius: 25px;
	border: 2px solid $c-yellow;
	padding: 0.5em 1em;
	position: relative;
	margin-bottom: 3em;
	@include box-sizing(border-box);
	cursor: pointer;
	label {
		cursor: pointer;
		z-index: 1;
	}
	&:last-child:after {
		display: none;
	}
	&:after{
		position: absolute;
		left: 50%;
		height: 4px;
		width: 300px;
		margin-left: -150px;
		bottom: -1.6em;
		content: '';
		border-bottom: 2px dotted $c-yellow;
	}
	&:target {
		background-color: #fff;
		.faq-items-title {
			color: #7aafa0;
		}

		.faq-item-content-wrapper {
			color: #464646;
		}
	}
}
.faq-item-content-wrapper {
	overflow: hidden;
	position: relative;
	float: left;
	clear: both;
}

.faq-items-title,
.faq-items-title label {
	width: 100%;
	position: relative;
	float: left;
	clear: both;
	display: block;
	text-align: center;
	color: $c-yellow;
	font-weight: bold;
}
.faq-items-title,
.faq-items-contents {
	@include transition( 0.3s linear color );
}
.faq-items-contents {
	float: left;
	clear: both;
	margin-top: -100%;
	@include opacity( 0 );
	@include transition(0.4s margin linear, 0.3s opacity linear );
}

.faq-controllers{
	@include opacity( 0 );
	position: absolute;
}
.faq-items:target .faq-item-content-wrapper .faq-items-contents {
	margin-top: 1em;
	@include opacity( 1 );
}