#select-store-container {
	position: relative;
	z-index: 1;
}
#select-store-block {
	/*
	&:before {
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		@media all and ( max-width: 1281px ) {
			background-image: url('../images/site_dist/escolha/bg.png');
		}
		@media all and ( min-width: 1280px ) {
			background-image: url('../images/site_dist/escolha/2x/bg.png');
		}
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center top;
	}
	*/
}

#select-store-container {
	display: block;
	margin: 2em auto;
}
.instruction-stores-list {
	text-align: center;
}
.stores-filter-block {
	text-align: center;
}
.select-store-content-header {
	height: 25px;
	position: relative;
    border-width: 0px;
    border-spacing: 0px;
    margin-top: 3em;
}
.header-left {
	height: 25px;
	/*
	border-left: 2px dotted $c-yellow;
	border-top: 2px dotted $c-yellow;
	*/
	border-radius: 17px 0px 0px 0px;
	width: 20%;
}

.header-right {
	height: 25px;
	/*
	border-right: 2px dotted $c-yellow;
	border-top: 2px dotted $c-yellow;
	*/
	border-radius: 0px 17px 0px 0px;
	width: 80%;
}
.header-middle {
	color: $c-yellow;
	padding: 0 1em;
	font-size: 1em;
	width: auto;
	line-height: 0;
	div {
		white-space: nowrap;
		position: relative;
		top: -1em;
		font-weight: bold;
	}
}

.select-store-content-footer {
	/*
	background-image: url('../images/site_dist/escolha/skin-bottom.png');
	background-repeat: no-repeat;
	background-position: top center;
	*/
	width:  100%;
	height: 46px;
}

#select-store-content {
	@include opacity( 0 );
	&.loaded {
		@include opacity( 1 );
	}
}
.stores-list {
	margin: 0;
	padding: 0 0;
	@include box-sizing(border-box);
}
.stores-items {
	display: block;
	position: relative;
	&:first-child {
		border-top-width: 0px;
		margin-top: 0;
		&:before {
			display: none;
		}
	}
	&:last-child {
		margin-bottom: 0px;
	}
	&:before {
		position: absolute;
		content: '';
		@media all and ( min-width: 578px ) {
			top: -2em;
		}
		@media all and ( min-width: 500px ) and ( max-width: 577px ) {
			top: -2em;
		}
		@media all and ( max-width: 499px ) {
			top: -1.5em;
		}
		height: 1px;
		left: 15%;
		width: 70%;
		background-color: #fcf4a9;
	}
}
.exchange-button,
.google-maps-irame,
.unavailable-exchange-button {
    width: 147px;
    height: 34px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    @include border-radius( 25px );
	outline: none;
}
#participantes .google-maps-irame {
	position: relative;
	@media all and ( min-width: 578px ) {
		top: 2.1em;
	}
	@media all and ( min-width: 499px ) and ( max-width: 577px ) {
		top: 2em;
	}
}
.google-maps-irame {
    border: 1px solid #fcf4a9;
    background-color: transparent;
    font-weight: bold;
    color: #fcf4a9;
    @include box-shadow( inset 0px 0px 2px #ab95a4 );
	@include transition(.2s all linear);
	box-shadow: 0px 0px 0px #1f715a;
	&:hover {
		box-shadow: 0px 0px 4px #1f715a;
	}
}
.exchange-button {
    color: #7aafa0;
    border-width: 0px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(31, 113, 90, 0);
	@include transition( .3s all linear );
	&:hover {
		box-shadow: 0px 0px 12px #1f715a;
	}
}
.stores-filter-cidade,
.stores-filter-estado {
	text-align: left;
	.select-value {
		font-size: 0.9em;
	}
}

.stores-items {
	font-size: 0.74em;
	h3 {
		font-size: 1.35em;
		font-weight: bold;
	}
	line-height: 1.5;
}
.schedule-text {
	max-width: 20em;
}
.select-store-content-body {
	min-height: 100px;
}
.stores-items {
	@media all and ( max-width: 499px ) {
		margin: 3em auto 3em auto;
	}
	@media all and ( min-width: 500px) and ( max-width: 577px ) {
		margin: 4em auto 4em auto;
	}
	@media all and ( min-width: 577px ) {
		margin: 4em auto 4em auto;
	}
}
@media all and ( max-width: 577px ) {
	.select-store-content-footer {
		background-size: 580px 45.177px;
	}
	.select-store-content-header {
		width: 100%;
	}
	.header-left,
	.header-right {
		min-width: 40% !important;
	}
	.header-middle {
		text-align: center;
	}
	.header-left {
		border-left-width: 0px;
		border-radius: 0px;
	}
	.header-right {
		border-right-width: 0px;
		border-radius: 0px;
	}
	.instruction-stores-list,
	.stores-filter-block {
		@include box-sizing(border-box);
		padding: 0 1em;
	}
	.stores-filter-estado,
	.stores-filter-cidade {
		margin-bottom: 1em;
		label {
			line-height: 1.4;
		}
	}
}
@media all and ( min-width: 578px ) {
	/*
	.select-store-content-body {
		border-width: 0px 2px 0px 2px;
		border-style: dotted;
		border-color: #dbcea9;
	}
	*/
	.select-store-content-footer {
		height: 45.177px;
		width: 580px;
		background-size: 100% auto;
	}

	#select-store-container {
		max-width: 100%;
		width: 580px;
		font-size: 0.84625em;
	}
	.instruction-stores-list {
		font-weight: bold;
	}

	.stores-filter-cidade,
	.stores-filter-estado {
		display: inline-block;
	}
	.stores-filter-estado {
		margin-right: 39px;
	}

	.stores-filter-estado .style-select {
		min-width: 90px;
	}

	.stores-filter-cidade .style-select {
		min-width: 180px;
	}
}

@media all and ( min-width: 500px ) {
	.stores-items-parts {
		font-size: 1.2em;
		display: inline-block;
		vertical-align: top;
		height: auto;
	}
	.stores-items-text {
		width: 60%;
		margin-right: 4.5%;
	}
	.stores-items-actions {
		width: 35%;
	}
	.stores-items {
		max-width: 435px;
	}
}

.tingle-modal.store-confirm-modal {
	.tingle-modal-box {
		@media all and ( max-width: 1024px ) {
			width: 80%;
		}
		@media all and ( max-width: 540px ) {
			width: 100%;
		}
	}
}
.google-maps-modal {
	.tingle-modal-box {
		width: 90%;
	}
	.tingle-modal-box__content {
		padding: 0;
	}
	.tingle-modal-box__footer {
		display: none;
	}
	iframe {
		display: block;
		width: 100%;
		height: 100%;
		min-height: 62vh;
		border-width: 0px;
	}
}

.store-confirm-modal {
	.tingle-btn {
		padding: 0.6em;
		font-size: 14px;
		font-weight: bold;
	}
	.tingle-modal-box__content {
		color: #444;
		text-align: center;;
		padding: 2em 1.5em;
		p {
			margin-top: 0;
		}
	}
	.warn {
		color: #ff6262;
		margin-bottom: 0.6em;
		font-size: 1.1em;
	}
	.tingle-btn--primary {
		background-color: #5fb8a9;
	}
	.tingle-btn--danger {
		background-color: #f3685a;
	}
}
.unavailable-exchange-button {
	@include border-radius(25px / 26px);
	@include background-clip(padding-box);
	@include box-shadow(0 1px 8px 1px rgba(71,107,97,.4));
	@include appearance( none );
	border: 0px solid #fff;
	background-color: #4f4f4f;
	color: #7aafa0;
	@include border-radius( 15px );
	cursor: initial;
}