#index-content {
	&:after {
		content: '';
		position: absolute;
		background-repeat: no-repeat;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-size: 100% auto;
		background-position: center bottom;
		/*
		@media all and (min-width: 1279px) {
			background-image: url('../images/site_dist/bottom_line.png');
		}
		@media all and (max-width: 1278px) {
			background-image: url('../images/site_dist/bottom_line.md.png');
		}
		*/
		z-index: -1;
	}
}
#index-container {
	height: 100%;
	#index-body {
		position: relative;
	}
	/*
	&:before {
		content: '';
		position: absolute;
		background-repeat: no-repeat;
		left: -7%;
		top: 0;
		@media all and (min-width: 1440px) {
			background-image: url('../images/site_dist/pack-line.png');
		}
		@media all and (max-width: 1439px) {
			background-image: url('../images/site_dist/pack-line.md.png');
		}
		@media all and (min-width: 1440px) {
			background-position-y: 40%;
		}
		@media all and (max-width: 1439px) {
			background-position-y: 43%;
		}
		width: 80%;
		height: 70%;
		background-size: 100% auto;
	}
	*/
	#main-title {
		max-width:  100%;
		overflow: hidden;
	}
	.main-title{
		text-align: center;
		position: relative;
		display: block;
		white-space:nowrap;
	}
	.index-bottle {
		pointer-events: none;
	}
	@media all and ( min-width: 1024px) {
		.text1{
			font-weight: 300;
			font-size: (39.5/16) * 1em;
		}
		.text2{
			font-weight: 600;
			font-size: (218 / 16) * 1em;
			//color: $c-yellow;
			font-family: 'BoutiqueScript';
			font-weight: lighter;
		}
		.text3{
			font-weight: 600;
			font-size: ( 29 / 16) * 1em;
		}
		.text4 {
			font-size: ( 38 / 16 ) * 1em;
		}
		.line1{
			left: -1.08em;
			line-height: 2em;
		}
		.line2{
			left: 0.12em;
			line-height: 0.45em;
			top: -0.1em;
		}
		.line3{
			left: 0.455em;
			top: 0.177em;
			line-height: 1em;
		}
		.line4{
			left: 3.5em;
			line-height: 1.4em;
			top: 0.28em;
		}
		.line5{
			left: 1.177em;
			top: 0.1142em;
		}
	}
	.index-bottle {
		bottom: 0;
		height: 100%;
		$start: 34%;
		overflow: visible;
		@media all and ( min-width: 1024px ) {
			position: absolute;
			right: 50%;
			@media (max-aspect-ratio: 1280/1660)  {
				right: 22%;	
			}
			$begin: 1660;
			$iterator: 1;
			@while $iterator < 21 {
				@if $iterator < 12 {
					$PreviousIterateHeight: $begin - ( ( $iterator - 1 ) * 80 );
					$iterateHeight: $begin - ( $iterator * 80 );
					$iterateRight: $start + ( $iterator * 3 );
					$width: 80 - ( $iterator * 2 );
					@media all and ( max-aspect-ratio: 1280 / #{$iterateHeight} ) and ( min-aspect-ratio: 1280 / #{$PreviousIterateHeight} ) {
						right:  unquote("#{$iterateRight}");
					}
				} @else {
					$PreviousIterateHeight: $begin - ( ( $iterator - 1 ) * 80 );
					$iterateHeight: $begin - ( $iterator * 80 );
					$iterateRight: 17 + ( $iterator * 3 );
					$width: 80 - ( $iterator * 2 );
					@media all and ( max-aspect-ratio: 1280 / #{$iterateHeight} ) and ( min-aspect-ratio: 1280 / #{$PreviousIterateHeight} ) {
						//right:  unquote("#{$iterateRight}%");
						right: 46%;
					}
				}
				$iterator: $iterator + 1;
			}
		}
	}
	.index-bottle img {
		height: 100%;
		width: auto;
		padding-top: 3em;
		margin-bottom: -3px;
		@include box-sizing(border-box);
	}
	#index-resume {
		display: inline-block;
		position: relative;
		margin-top: 3em;
		@include viewport-unit(margin-top, 5vh);
		margin-left: -0.8em;
		line-height: 1.6;
		letter-spacing: 0.02em;
		font-size: 1em;
		@media all and (min-width: 1367px) {
			left: 75%;
		}
		@media all and (min-width: 1280px) and (max-width: 1366px) {
			left: 77%;
		}
		@media all and (min-width: 1280px) {
			//left: 47%;
			margin-top: -7.2em;
		}
		.b-c2 {
			color: $c-yellow;
		}
		@media all and (max-width: 1279px) {
			@media all and (min-height: 601px ) {
				left: 49%;
			}
			@media all and (min-height: 500px ) and ( max-height: 600px) {
				left: 50%;
			}
			@media all and ( max-height: 499px ) {
				left: 51%;
			}
		}
	}
	.product {
		color: $c-yellow;
	}
	#index-join {
		text-align: center;
		margin-top: 2em;
	}
	.index-body, .index-bottle {
		z-index: 2;
	}

	@media all and ( max-width: 1023px ) {
		float: left;
		width: 100%;
		padding-top: 0px;
		@include box-sizing(border-box);
		&:before {
			background-position-y: 70%;
		}
		@include viewport-unit(min-height, 100vh);
		.index-bottle {
			right: 0%;
			position: relative;
			width: 80%;
			clear: both;
			margin: 0 auto;
			text-align: center;
			white-space: nowrap;
			img {
				height: auto;
				width: 100%;
				display: block;
				margin:0 auto;
				padding-top: 60px;
				//padding-bottom: 40px;
				@include box-sizing(border-box);
			}
		}
		.index-body {
			text-align: center;
			font-size: 0.85em;
			@media all and ( min-aspect-ratio: 560 / 336 ) {
				@media all and (max-height: 460px) {
					font-size: 1.9em;
				}
			}
		}
		#main-title {
			position: relative;
			font-size:1.1em;
			&:before {
				$base: 11;
				content: '';
				height: $base * 1em;
				width: $base * 1.229em;
				position: relative;
				display: block;
				margin: $base*0.05em auto 1em auto;
				background-image: url('../images/site_dist/logo-v3.md.png');
				background-size: cover;
				background-repeat: no-repeat;
				background-position:center;

			}
		}
		#index-resume {
			text-align: center;
			left: 0;
			line-height: 1.7;
			margin-top: 13vh;
		}
		.main-title {
			display: none;
		}
			
	}

	@media all and ( max-width: 1023px ) and ( min-width: 368px ) and ( max-height: 400px ) {
		.index-bottle {
			picture {
				img {
					width: 86%;
					height: auto;
					padding-bottom: 0;
				}
			}
		}
	}
	@media all and ( max-aspect-ratio: 1367/768 ) {
		.index-bottle {
			text-align: center;
			white-space: nowrap;
			&:before {
				position: relative;
				display: inline-block;
				vertical-align: bottom;
				height: 100%;
				content: '';
				width: 1px;
				margin-right: -6px;
			}
			picture {
				display: inline-block;
				vertical-align: bottom;
				position: relative;
				height: 100%;
				width: 100%;
				&:before {
					content: '';
					display: inline-block;
					vertical-align: bottom;
					height: 100%;
					width: 1px;
					margin-right:-9px;
				}
				img {
					display: inline-block;
					vertical-align: bottom;
				}
			}
		}
		.index-bottle img {
			@media all and ( min-width: 1024px ) {
				height: 84%;
				width: auto;
				padding-top: 0;
				padding-top: 0;
			}
			@media all and ( max-width: 1023px ) {
				height: auto;
				width: 100%;
				padding-top: 0;
				padding-top: 0;
			}
		}
	}
}
@media all and ( max-height:  519px ) and ( max-width: 1023px ) {
	#index-container #main-title,
	#index-container #main-title:before {
		height: 70px;
		width: 87px;
		margin: 10px auto;
	}
}
@media all and ( max-height:  519px ) {
	#index-content {
		top:30%;
		height:70%;
	}
}
@media all and ( min-width:  1024px ) and (max-height: 519px ) {
	#index-content #index-container {
		font-size: 0.85em;
	}
	#index-content #index-container #main-title {
		margin-bottom: 1em;
	}
	#index-content #index-container #index-resume {
		margin-top: 0;
	}
}

@media all and ( min-width: 1024px ) {
	#index-content {
		overflow: hidden;
	}
	#index-container  .index-bottle{
		@media all and (min-height: 200px) and ( max-height:  300px ) {
			width: 22%;
		}
		@media all and (min-height: 300px) and ( max-height:  400px ) {
			width: 25%;
		}
	}
	@media all and (min-aspect-ratio: 1025/620 ) {
		#index-content #index-container  .index-bottle {
			width: 54%;
			picture {
				white-space: nowrap;
				&:before {
					position: relative;
					content: '';
					width: 1px;
					height: 100%;
					height: 100%;
					vertical-align: bottom;
					display: inline-block;
					margin-right: -10px;
					
					img {
						width:  100%;
						height: auto;
					}
				}
			}
		}
	}
	@media all and ( max-width: 1527px ) {
		#index-content #index-container  .index-bottle {
			width: 60%;
			right: 50%;
			left: -10%;
		}
	}

	@media all and ( max-width: 1299px ) {
		#index-content #index-container  .index-bottle {
			width: 60%;
			right: 50%;
			left: -12%;
		}
	}
}

@media all and ( max-width: 450px ) {
	#index-content #index-container .index-bottle img {
		width: 86%;
		height: auto;
		padding-bottom: 0;
	}
}

@media all and ( max-width: 1023px ) {
	#index-content,
	#index-content #index-container {
		min-height:0;
	}
	#index-content #index-container #index-resume {
		@include viewport-unit(margin-top, 10vh);
	}
	#index-container {
		.index-body {
			font-size:1em;
		}
		.index-bottle {

		}
	}
}
@media all  and (min-width : 320px)  and (max-width : 568px) {
	#index-container {
		.index-bottle {
			position: relative;
			width: 80%;
			clear: both;
			margin:0 auto;
			img {
				display: block;
				margin: 0 auto;
				max-width: 80%;
				margin-top: 40px;
			}
		}
	}
	#index-container .index-bottle picture:before{
		content: '';
		display: inline-block;
		vertical-align: bottom;
		height: 100%;
		width: 1px;
		margin-right: -9px;
		position: relative;
	}
}

@media all and ( max-width: 1024px ) and ( min-width: 736px ) and ( max-height: 414px ) {
	#index-resume {
		font-size: 1.7em;
	}
}
#abracometro {
	text-align: center;
	color: $c-yellow;
	&.hidden {
		display: none !important;
	}
}
#hugmeter-block {
	/*border: 2px dotted $c-yellow;*/
	color: #fff;
	padding: 0 40px;
	font-size:1.1em;
	margin: 0.2em auto 0.1em auto;
	font-weight: bold;
	line-height: 1.2;
	font-size: 1.9em;
	position: relative;
	@include border-radius( 25px );
	/*
	&:before,
	&:after {
		position: absolute;
		content: '';
		display: block;
	}
	&:before {
		background-image: url('../images/site_dist/abraco-coraca-r.png');
		width: 27px;
		height: 27px;
		right: -13px;
		bottom: -15px;
	}
	&:after {
		background-image: url('../images/site_dist/abraco-coraca-l.png');
		width: 26px;
		height: 29px;
		left: -13px;
		top: -15px;
	}
	*/
}
#hugmeter-title {
	font-weight:bold;
	margin-bottom: 10px;
	letter-spacing: 3px;
	font-size: 1.3em;
}
#hugmeter-subtitle {
	font-size:0.9em;
}
#abracometro {
	@include box-sizing(border-box);
	padding-left: 40%;
	@media all and ( max-width: 1024px ) {
		display: none !important;
	}

	@media all and ( min-width: 1024px ) {
		position: absolute;
		top: 30%;
		right: 3%;
		top: 60%;
		right: 37%;
		font-size: 0.7em;
		#abracometro-container {
			width: 180px;
		}
	}
	#abracometro-container {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 230px;
		@include viewport-unit(margin-top, 10vh);
	}

	@media all and ( min-aspect-ratio: 1400 / 700 ) {
		@media all and (max-height: 700px ) {
		}
	}
	@media all and ( max-aspect-ratio:  1399 / 700) and ( min-aspect-ratio: 1200 / 700 ) {
		@media all and (max-height: 700px ) {
		}
	}
	@media all and ( max-aspect-ratio:  1199 / 700) and ( min-aspect-ratio: 1000 / 700 ) {
		@media all and (max-height: 700px ) {
		}
	}
	@media all and ( max-aspect-ratio: 999/700 ) {
		@media all and (max-height: 700px ) {
		}
	}
	@media all and (max-height: 560px ) {
	}
}
body #header > .container {
	@media all and ( min-aspect-ratio: 1400/700 ) {
		top: 0;
	}
	@media all and ( max-height: 559px ) {
		top: -30px
	}
}

#index-resume {
	text-align: right;
}

@media all and ( min-width: 1023px ) {
	#index-container #main-title {
		position: relative;
		@include box-sizing(border-box);
	}
	.index-body {
		@include box-sizing(border-box);
		padding-right: 2em;
	}

	#index-container #index-resume,
	#index-container #index-headline {
		top: -90px;
		position: relative;
	}

	#index-container #index-resume {
		position: relative;
		left: initial;
		float: right;
		margin-top: 0vh;
		clear: both;
	}
	#index-container #index-headline {
		float: right;
		clear: both;
		margin-bottom: 1em;
		font-size:1.3em;
		text-align: right;
	}
	/*
	@media all and ( max-height: 769px ) {
		#index-container #index-headline {
			font-size: 2em;
		}
		#index-container #index-resume {
			font-size: 1.2em;
		}
	}
	*/
}
@media all and ( min-width: 1023px ) and ( max-width: 1299px ) {
	#index-container #main-title {
		position: relative;
		padding-right: 12em;
	}
}
@media all and ( min-width: 1299px ) {
	#index-container #main-title {
		position: relative;
		padding-right: 8em;
	}
}