#list-store-container {
	position: relative;
	z-index: 1;
}
/*
#list-store-block {
	&:before {
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		background-image: url('../images/site_dist/escolha/bg.png');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center top;
	}
}
*/
#list-store-container {
	display: block;
	margin: 2em auto;
}
.list-store-content-header {
	width: 435px;
	height: 25px;
	position: relative;
    border-width: 0px;
    border-spacing: 0px;
    margin-top: 3em;
}
.list-store-content-footer {
	/*
	background-image: url('../images/site_dist/escolha/skin-bottom.png');
	*/
	background-repeat: no-repeat;
	background-position: top center;
	width:  100%;
	height: 46px;
}

#list-store-content {
	@include opacity( 0 );
	&.loaded {
		@include opacity( 1 );
	}
}
@media all and ( max-width: 577px ) {
	.list-store-content-footer {
		background-size: 580px 45.177px;
	}
	.instruction-stores-list,
	.stores-filter-block {
		@include box-sizing(border-box);
		padding: 0 1em;
	}
	.stores-filter-estado,
	.stores-filter-cidade {
		margin-bottom: 1em;
		label {
			line-height: 1.4;
		}
	}
}
@media all and ( min-width: 578px ) {
	.list-store-content-body {
		/*
		border-width: 0px 2px 0px 2px;
		border-style: dotted;
		border-color: #dbcea9;
		*/
	}
	.list-store-content-footer {
		height: 45.177px;
		width: 580px;
		background-size: 100% auto;
	}

	#list-store-container {
		max-width: 100%;
		width: 580px;
		font-size: 0.84625em;
	}

	.stores-items-actions {
		text-align: right;
	}

	.stores-list-content {
		.google-maps-irame {
			margin-bottom: 1em;
		}
	}
}

@media all and ( min-width: 500px ) and (max-width: 577px ) {
	.stores-list-content {
		.google-maps-irame {
			margin-top: 1.6em;
			margin-bottom: 1em;
		}
	}
}
@media all and ( max-width: 499px ) {
	.stores-items-parts {
		width: 90%;
		display: block;
		clear: both;

		margin: 0.5em auto 0.5em auto;
		text-align: center;
		&.stores-items-text {
			//height: 120px;
		}
		&.stores-items-actions {
			min-height: 40px;
		}
		.schedule-text {
			margin: 0 auto;
		}
	}
	.google-maps-irame, 
	.exchange-button {
		float: none;
		display: block;
		margin: 0 auto;
	}
	.exchange-button {
		margin-top: 1.6em;
		margin-bottom: 1.6em;
	}
}

.google-maps-modal {
	.tingle-modal-box {
		width: 90%;
	}
	.tingle-modal-box__content {
		padding: 0;
	}
	.tingle-modal-box__footer {
		display: none;
	}
	iframe {
		display: block;
		width: 100%;
		height: 100%;
		min-height: 62vh;
		border-width: 0px;
	}
}

.store-confirm-modal {
	.tingle-btn {
		padding: 0.6em;
		font-size: 14px;
		font-weight: bold;
	}
	.tingle-modal-box__content {
		color: #444;
		text-align: center;;
		padding: 2em 1.5em;
		p {
			margin-top: 0;
		}
	}
	.warn {
		color: #ff6262;
		margin-bottom: 0.6em;
		font-size: 1.1em;
	}
	.tingle-btn--primary {
		background-color: #5fb8a9;
	}
	.tingle-btn--danger {
		background-color: #f3685a;
	}
}
@media all and ( max-width:  540px ) {
	.google-maps-modal .tingle-modal-box {
		width: 100%;
		height: 100%;
		.tingle-modal-box__content {
			height: 100%;
		}
	}

	.store-confirm-modal .tingle-modal-box {
		width: 100%;
		height: 100%;
		.tingle-modal-box__content {
			height: 100%;
		}
		.tingle-modal-box__footer {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
}