#participate-block {
	padding-bottom: 200px;
	/*
	&:before {
		width:  100%;
		height:  100%;
		position: absolute;
		content: '';
		background-image: url('../images/site_dist/participe_01/bg.png');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center;
		@media all and ( min-width: 1979px ) {
			background-image: url('../images/site_dist/participe_01/2x/bg.png');
			background-size: 100% auto;
		}
	}
	*/
}
#participate-1-form-block {
	width: 250px;
	height: 208px;

	display: block;
	margin: 0 auto 4em auto;
	/*
	background-image: url('../images/site_dist/participe_01/form-skin-1.png');
	*/
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding-top: 2em;
	@include box-sizing(border-box);
}

#check-cpf-block {
	#cpf-flabel,
	#cpf {
		display: block;
		margin: 0 auto;
	}
	#cpf-flabel {
		text-align: center;
		width: 9em;
		font-weight: bold;
		display: block;
		line-height: 1.2;
		font-size: 0.9em;
		margin: 0.9em auto 0.9em;
	}
	#cpf {
		text-align: center;
		border-radius: 25px;
		width: 174px;
		height: 34px;
		box-shadow: inset 2px 0px 3px #444;
		border: none;
		padding: 0 0.8em;
		outline: none;
		@include appearance(none);
		@include box-sizing(border-box);
		&:focus,
		&:active {
			outline: none;
		}
	}
}
#participate-1-form-block {
	position: relative;
}
#participate-1-form-block:before {
	position: absolute;
	content: '';
	left: 10%;
	top: 0;
	width: 80%;
	height: 40px;
	background-image: url('../images/site_dist/participe_01/form-skin-1-top.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 50%;
}