#register-block:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	/*
	@media all and ( min-width: 1281px ) {
		background-image: url('../images/site_dist/participe_02/2x/bg.png');
	}
	@media all and ( max-width: 1280px ) {
		background-image: url('../images/site_dist/participe_02/bg.png');
	}
	*/
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#register-block-form {
	padding-bottom: 50px;
	/*
	background-image: url('../images/site_dist/participe_02/2x/form-skin-top.png');
	*/
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0 auto;
	display: block;
	padding-top: 45px;
}
#register-block-form-body {
    position: relative;
    @include box-sizing(border-box);
}
#register-submit-block {
	/*
	background-image: url('../images/site_dist/participe_02/2x/form-skin-bottom.png');
	*/
	height: 88px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center top;
}
#register-block-form-wrapper {
	position: relative;
	display: block;
	margin: 0 auto;
	padding-top: 34px;
	@include box-sizing(border-box);
}
.register-field-blocks {
	text-align: left;
	label {
		text-align: left;
	}
	.register-fields {
		height: 34px;
		background-color: #fff;
		outline: none;
		padding: 0 0 0 1em;
		font-family: 'OpenSans', 'tahoma';
		border-width: 0px;
		@include box-sizing(border-box);
		@include box-shadow( inset 0px 1px 13px #b0b0b0 );
	}
	.type1{}
	.type2{}
	.type3{}
}
.register-field-label {
	font-size: 13px;
	font-weight: bold;
}
.register-label {
	display: inline;
	vertical-align: middle;
	font-size: 11.85px;
}
.styled-checkbox {
	display: inline-block;
	vertical-align: middle;
}
/*
#register-submit {
	position: absolute;
	cursor: pointer;
	width: 125px;
	height: 40px;
	background-color: transparent;
	color: transparent;
	top: 38px;
	border-width: 0px;
	&:active {
		box-shadow: 0px 0px 2px #666;
		outline: none;
	}
}
*/
@media all and ( min-width: 589px ) {
	#register-block-form {

	}
	#register-block-form-body {
		width: 588px;
	}
	#register-submit-block {
		width: 588px;
	}

	#register-block-form-wrapper {
		width: 478px;
	}
	#register-block-form {
		width: 588px;
		min-height: 620px;
		height:auto;
	}
	.register-wrap-field-blocks {
		display: inline-block;
		margin-bottom: 14px;
		vertical-align: top;
	}
	.register-field-blocks {
		float: left;
	}
	.register-field-blocks.r-space {
		margin-right: 28px;
	}
	.register-field-blocks-type3 {
		margin-right: 0;
	}
	.register-field-blocks-type1 .register-fields {
		width: 222px;
	}
	.register-field-blocks-type2,
	.register-field-blocks-type3 {
		display: inline-block;
	}
	.register-field-blocks-type2 input {
		width: 68px;
	}
	.register-field-blocks-type3,
	.register-field-blocks-type3 input {
		width: 126px;
	}
	#register-submit {
		left: 232px;
	}
}
@media all and ( max-width: 588px ) {
	#register-block-form {
		background-position: center top;
	}
	#register-block-form-wrapper {
		width: 478px;
		max-width: 100%;
	}
	.register-wrap-field-blocks {
		display: block;
		width: 300px;
		margin: 0 auto 14px auto;
	}

	.register-field-blocks-type1 .register-fields {
		width: 300px;
	}
	.register-field-blocks-type2,
	.register-field-blocks-type3 {
		display: inline-block;
	}
	.register-field-blocks-type2 input {
		width: 68px;
	}
	.register-field-blocks-type3,
	.register-field-blocks-type3 input {
		width: 126px;
	}
	#register-submit {
		left: 50%;
	    margin-left: -62.5px;
	}
	#numero {
		margin-right: 100px;
	}
	.register-field-boxes {
		max-width: 300px;
		margin: 0 auto;
	}
}

@media all and ( min-width: 586px ) {
	#register-block-form {
		background-size: 100% auto;
	}
	#register-submit-block {
		background-size: 100% auto;
	}
	#register-block-form-body {
		/*
	    border-left: 2px dotted rgb(202, 196, 183);
    	border-right: 2px dotted rgb(202, 196, 183);
    	*/
	}
}
@media all and ( max-width: 585px ) {
	#register-block-form {
		background-size: 586px auto;
	}
	#register-submit-block {
		background-size: 586px auto;	
	}
}


//iframe clube da beauty
.tingle-modal.clube-da-beauty{
	.tingle-modal-box__content {
		padding: 0;
		width: 100%;
		height: 100%;
	}
	@media all and ( max-width: 1024px) {
		.tingle-modal__close {
			top: 0;
			right: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 60px;
			border: none;
			background-color: #2c3e50;
			box-shadow: none;
			color: #fff;
			line-height: 55px;
		}
		.tingle-modal-box {
			width: 100%;
			height: 100%;
		}
		.tingle-modal__closeIcon,
		.tingle-modal__closeLabel {
			display: inline-block;
			vertical-align: top;
		}
		.tingle-modal__closeIcon {
			font-size: 45px;
			line-height: 49px;
			margin-right: 8px;
		}
		.tingle-modal__closeLabel {
			font-size: 30px;
		}
	}
	@media all and ( min-width: 1025px) {
		.tingle-modal-box {
			width: 80%;
			height: 90%;
		}
	}
}
@media all and ( max-width: 588px ) {
	#field-n-8 .r-space{
		margin-bottom: 1em;
	}
}
#send-hug-title {
	font-weight: bold;
	font-size:3em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-align: center;
	color: #fcf4a9;
}
#cadastre-tip {
	text-align: center;
	color: #fff;
}

#cadastre-tip-title {
	font-size: 1.2em;
	margin-bottom: 0.5em;
}