#promocao {
	header#header {
		position: relative;
		float: left;
		width: 100%;
	}
}

#promotion-steps {
	clear: both;
	float: left;
	width:  100%;
	/*
	@media all and (min-width: 1440px ) {
		background-image: url('../images/site_dist/promocao/line-behind-insta-cell.png');
	}
	@media all and (max-width: 1439px ) {
		background-image: url('../images/site_dist/promocao/line-behind-insta-cell.png');
	}
	background-repeat: no-repeat;
	background-position: left 55%;
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width:  100%;
		height: 100%;
		@media all and (min-width: 1440px ) {
			background-image: url('../images/site_dist/promocao/line-one.png');
		}
		@media all and (max-width: 1439px ) {
			background-image: url('../images/site_dist/promocao/line-one.png');		
		}
		background-repeat: no-repeat;
		background-position: right top;
	}
	*/
}

#promotion-steps-list {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: right top;
	overflow: hidden;

    white-space: pre-line;
    text-align: center;
	/*
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width:  100%;
		height: 100%;
		@media all and (min-width: 1440px ) {
			background-image: url('../images/site_dist/promocao/line-behind-pack.png');
		}
		@media all and (max-width: 1439px ) {
			background-image: url('../images/site_dist/promocao/line-behind-pack.png');
		}
		background-size: 529px auto;
		background-repeat: no-repeat;
		background-position: bottom center;
	}
	*/
}

.promotion-steps-items{
	display: inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	figure {
		margin: 0;
	}
}
.step-how-to {
	margin-top: 0;
}
.promo-description {
	color: #fff;
	margin-top: 0;
}

#promo-step-item-1 {
	width: 360px;
	.participe-btn{
		clear: both;
		display: inline-block;
		position: relative;
		top: 1.5em;
	}
}
#promo-description-1 {
	width: 12em;
}
#promo-figure-1 {
	white-space:nowrap;
}
#promo-figure-1 figure,
#promo-figure-1 a {
	display: inline-block;
	vertical-align: top;
}
#step-how-to-1 {
	width: 11em;
}
#promo-description-2 {
	position: relative;
}
#step-how-to-2 {
	width: 14em;
}
#promo-description-3 {
	margin-top: 0.8em;
}
#step-how-to-3{
	width: 8em;
	margin-left: 1.5em;
}
#steps-titles-4 {
	//margin-top: 1.55em;
}
#step-how-to-4 {
	width: 17em;
	margin-left: 1.5em;
}
#promo-step-item-4 {
	margin-bottom: 0;
	position: relative;
	top: -2.5em;
}

#promo-figure-4,
#promo-description-4 {
	vertical-align: top;
}

#step-how-to-5 {
	width: 20em;
	padding-left: 0.8em;
	@include box-sizing(border-box);
}

@media all and ( max-width: 559px ) {
	.step-how-to {
		margin: 0 auto;
	}
	.promo-figure,
	.promo-description {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	.promotion-steps-items,
	.promo-description,
	.step-how-to {
		white-space:normal;
	}
	#promo-figure-1 {
		margin-bottom: -46px;
	}
	#promo-figure-2 {
		margin-bottom: -6px;
	}
	#promo-figure-3 {
		margin-bottom: -26px;
	}
	#promo-figure-4 {
		margin-bottom: -66px;
	}
	#promo-step-item-4 {
		padding-bottom:1.4em;
	}
}
@media all and ( min-width: 560px ) and ( max-width: 1024px ) {
	.promotion-steps-items{
		white-space: nowrap;
	}
	.promo-figure,
	.promo-description {
		display: inline-block;
		vertical-align: top;
		white-space: normal;		
	}
	#step-how-to-1 { padding-left: 2.2em; }
	#step-how-to-2 { padding-left: 2.2em; }
	#step-how-to-3 { padding-left: 1.4em }
	#step-how-to-4 { padding-left: 1.4em }
	#promo-figure-2 img{
		position: relative;
		left: 17px
	}
	#promo-description-2 {
		margin-top: 60px;
	}
	#promo-description-3 {
		margin-left: -1em;
	}
}
@media all and ( min-width: 560px ) {
	.promotion-steps-items {
		//white-space: pre-line;
	}
	.promo-figure,
	.promo-description {
		display: inline-block;
		vertical-align: top;
		white-space: normal;
	}
	.promo-description {
		text-align: left;
		
	}
	#promo-description-1 {
		margin-top: 1.2em;
		position: relative;
		margin-left: -7.4em;
		top: 3em;
	}
	#promo-description-2 {
		top: -2em;
	}
	#promo-step-item-3 {
		//margin-left: 10em;
	}
	#promo-step-item-4 {
		//margin-left: 10em;
	}
	#promo-description-4 {
		//margin-left: -2.4em;
	}
}
@media all and ( max-width: 1023px ) {
	.promotion-steps-items{
		margin-top:  2em;
		margin-bottom:  2em;
	}
	.promotion-steps-items,
	#promo-step-item-4 {
		margin-left:  auto;
		margin-right:  auto;
	}

	#promo-description-4 {
		margin-top:  4em;
		margin-left: 0em;
	}
}

@media all and ( min-width: 1024px ) {
	#promo-step-item-1 {
		position: relative;
		margin: 0 auto;
		padding-top: 5em;

		left: 2em;
		top: -4em;
		margin-bottom: -5em;
		margin-bottom: -3em;
	}
	#promo-step-item-2{
		margin-top: 1em;
		position: relative;
		margin-left: -36em;
	}
	#promo-step-item-3 {
		position: relative;
		top: -5em;
	    margin-left: 31em;
	    margin-bottom: -11em;
	}
	#promo-step-item-4 {
		margin-left: -35em;
	}
	.promotion-steps-items{
		white-space: nowrap;
	}
	#promo-step-item-4 {
		margin-bottom: -8em;
	}
	#promo-step-item-5 {
		margin-left: 27em;
	}
}
#promocao #page-title {
	margin-bottom: 0.2em;
}