#m-sustentabilidade:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width:  100%;
    height: 100%;
    /*
    background-image: url('../images/site_dist/promocao/line-behind-insta-cell.png');
    */
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;
}
#the-promo-frame {
	width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    height: 400px;
    margin:  1em auto 4em auto;
    @media all and ( max-width:  768px ) {
        height: 300px;
    }
    @media all and ( max-width:  668px ) {
        height: 270px;
    }
    @media all and ( max-width:  568px ) {
        height: 240px;
    }
    @media all and ( max-width:  468px ) {
        height: 180px;
    }
}
#the-promo-desc {
    max-width: 94%;
    margin: 0 auto;
}
#the-promo-desc {
    max-width: 51em;
    p {
        margin-top: 0;
        margin-bottom: 2em;
    }
}
@media all and ( max-width: 1025px) {
    #the-promo-desc {
        @include box-sizing( border-box );
        padding: 0 1em;
    }
}