#header {
	padding: 0.5em 0;
}
.layout-content.type-b {
	padding-bottom: 2em;
	background: url('../images/site_dist/pattern/purple-v8.png') repeat;
	@include viewport-unit(min-height, 30vh);
	@media all and ( max-height: 519px ) {
	}
	@media all and ( min-height: 520px ) {
	}

	@media all and ( min-width:  1024px ) {
		position: relative;
		float: left;
		width:  100%;
	}

	@media all and ( max-width:  1023px ) {
		position: relative;
		float: left;
		width:  100%;

		margin-top: 5em;
	}
}