.layout-content.type-a {
  position: absolute;
  left: 0;
  top: 22%;
  width: 100%;
  height: 78%;
  @media all and ( min-height: 167px ) {   font-size: 0.3em; }
  @media all and ( min-height: 267px ) {   font-size: 0.31em;}
  @media all and ( min-height: 287px ) {   font-size: 0.33em;}
  @media all and ( min-height: 300px ) {   font-size: 0.36em;}
  @media all and ( min-height: 330px ) {   font-size: 0.41em;}
  @media all and ( min-height: 360px ) {   font-size: 0.46em;}
  @media all and ( min-height: 390px ) {   font-size: 0.5em;}
  @media all and ( min-height: 420px ) {   font-size: 0.54em;}
  @media all and ( min-height: 450px ) {   font-size: 0.58em;}
  @media all and ( min-height: 480px ) {   font-size: 0.62em;}
  @media all and ( min-height: 510px ) {   font-size: 0.66em;}
  @media all and ( min-height: 540px ) {   font-size: 0.7em;}
  @media all and ( min-height: 570px ) {   font-size: 0.74em;}
  @media all and ( min-height: 610px ) {   font-size: 0.88em;}
  @media all and ( min-height: 640px ) {   font-size: 0.92em;}
  @media all and ( min-height: 670px ) {   font-size: 0.96em;}
  @media all and ( min-height: 700px ) {   font-size: 1.04em;}
  @media all and ( min-height: 730px ) {   font-size: 1.08em;}
  @media all and ( min-height: 760px ) {   font-size: 1.12em;}
  @media all and ( min-height: 790px ) {   font-size: 1.16em;}
  @media all and ( min-height: 820px ) {   font-size: 1.20em;}
  @media all and ( min-height: 850px ) {   font-size: 1.24em;}
  @media all and ( min-height: 880px ) {   font-size: 1.28em;}
  @media all and ( min-height: 910px ) {   font-size: 1.32em;}
  @media all and ( min-height: 940px ) {   font-size: 1.36em;}
  @media all and ( min-height: 970px ) {   font-size: 1.40em;}
  @media all and ( min-height:1000px ) {   font-size: 1.44em;}

  @media all and ( max-width: 1023px ) {
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    float: left;
    clear: both;
    @include box-sizing(border-box);
    @include viewport-unit(min-height, 100vh);
  }
}