@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BoutiqueScript';
    src: url('../fonts/boutiquescript-webfont.eot');
    src: url('../fonts/boutiquescript-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/boutiquescript-webfont.woff2') format('woff2'),
         url('../fonts/boutiquescript-webfont.woff') format('woff'),
         url('../fonts/boutiquescript-webfont.ttf') format('truetype'),
         url('../fonts/boutiquescript-webfont.svg#boutique_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

    font-stretch: ultra-expanded;
}

.page-titles {
    font-family: 'BoutiqueScript';
    color: $c-yellow;
}
.steps-titles {
    font-family: 'BoutiqueScript';
    color: $c-yellow;
    font-size: 70px;
    white-space: nowrap;
}