.b {
	font-weight: 600;
}
@media all and ( max-width: 1023px ) {
	body .desk-only,
	body .di.v.desk-only {
		display: none;
	}
}
@media all and ( min-aspect-ratio: 640 / 380 ) {
	@media all and (max-height: 459px) and ( max-width: 1023px ) {
		body .hide-landscape {
			display: none !important;
		}
	}
}

.page-titles {
	text-align: center;
	position: relative;
	line-height: 0;
	margin-bottom: 1em;
	@media all and ( min-width:  768px ) {
		font-size: 6.6em;
	}
	@media all and ( max-width:  767px ) {
		font-size: 5.1em;
	}
}
#cadastre.type2 .page-titles {
	margin-bottom: 0.5em;
}
#check-cpf-block {
	text-align: center;
}
.wrap-fields {
	position: relative;
	display: inline-block;
}
#simple-alert {
	position: fixed;
	top: 10%;
	right: 10%;
	box-shadow: 0px 0px 7px #444;
	border-radius: 8px;
	padding: 1em;
	z-index: 10;
	&.success {
		background-color: rgba(90, 177, 161, 0.8);
	}
	&.error {
		background-color: rgba(236, 103, 103, 0.77);
	}
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		display: block;
	}
	#close-alert {
		width: 20px;
		height: 20px;
		top: 7px;
		right: 7px;
		background: none;
		cursor: pointer;
		display: block;
		font-weight: bold;
		border:none;
		position: absolute;
		color: #fff;
		border-radius: 50%;
		border: 1px solid #fff;
		font-size: 8px;
		text-align: center;
		padding: 0;
		outline: none;
		text-shadow: 1px 0px 0px #000;
		text-indent: 1px;
		@include box-sizing(border-box);
		@include appearance(none);
	}
	span {
		font-weight: bold;
		padding-right: 1em;
	}
}
.masks {
	position: relative;
	&.mask-date:before {
		display: none;
		position: relative;
		content: '    /    / ';
		position: absolute;
		left: 1em;
		line-height: 34px;
		color: #545454;
		font-size: 14.2333px;
		white-space: pre;
	}
}

.style-select.type-1 {
	height: 27px;
	background: #fff;
	position: relative;
	border-radius: 10px;
	padding: 0px 16px 0px 10px;
	border: 1px solid #c6c6c6;
	@include box-sizing(border-box);
	.select-value {
		line-height: 27px;
		padding: 0px 16px 0px 10px;
		color: #3c3c3c;
		@include box-sizing(border-box);
	}
	&:before {
		position: absolute;
		width: 7px;
		height: 15px;
		right: 6px;
		top: 5px;
		content: '';
		background-image: url('../images/site_dist/select-decorator.png');
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
}
.style-select{
	cursor: pointer;
	.select-value, 
	select {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		@include appearance(none);
	}
	select {
		cursor: pointer;
		@include opacity( 0 );
		z-index: 1;
	}
}

.tingle-modal.regulamento-pdf {
	.tingle-modal-box {
		height: 90%;
	}
	.tingle-modal-box__content {
		padding: 0;
		height: 100%;
		width: 80%;
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
}
.beauty-modal {
	@media all and ( max-width: 540px ) {
		top: 0;
		&.tingle-modal.beauty-modal {
			top: 0;
		}
		&.tingle-modal .tingle-modal__close {
			display: block;
		}
		.tingle-modal-box {
			width: 460px;
			left: 50%;
			margin-left: -230px;
			top: 20%;
		}
		.beauty-modal-close-btn {
			display: none;
		}
		.tingle-modal-box__footer .tingle-btn--primary {
			background-color: #7abdab;
			color: #fcf4a9;
			text-align: center;
			text-transform: uppercase;
			border-radius: 20px;
			display: block;
			margin: 0 auto;
			width: auto;
		}
	}
	.tingle-modal-box {
		padding-top: 1em;
	}
	.tingle-modal-box {
		background: url('../images/site_dist/pattern/purple-v8.png') repeat;
	}
	.tingle-modal__close {
		display: none;
	}
	#beauty-modal-close-btn {
		position: absolute;
		display: block;
	    color: #f0f0f0;
	    font-family: monospace;
	    cursor: pointer;
	    border: 0px solid #fff;
	    color: #8365a1;
	    background-color: #fcf4a9;
	    font-size: 3em;
	    padding: 0;
	    width: 1em;
	    height: 1em;
	    right: -0.5em;
	    top: -0.5em;
	    padding: 0;
	    line-height: 0;
	    @include border-radius( 50% );
	    @include transition( color .3s ease );
	    @include appearance( none );
	    span {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			line-height: 44px;
	    }
	}
	.tingle-modal-box__footer {
		position: relative;
		width: 100%;
		background-color: transparent;
		padding: 0 0 1em 0;
		@include box-sizing(border-box);
	}
	.tingle-btn--primary {
		background-color: #7abdab;
		color: #fcf4a9;
		text-align: center;
		text-transform: uppercase;
		border-radius: 20px;
		display: block;
		margin: 0 auto;
	}
	label {
		color: #fff;
		text-align: center;
		font-weight: bold;
	}
	input {
		outline: none;
		border-radius: 20px;
		border: 0px solid #000;
		box-shadow: inset 2px 1px #444;
		@include box-shadow( inset 0 2px 5px 1px rgba( 0, 0, 0, .35 ) );
		text-align: center;
	}
	.tingle-modal-box__content {
		position: relative;
		padding-bottom: 2em;
		&:before,
		&:after {
			position: absolute;
			content: '';
			width: 86%;
			left: 7%;
			@include box-sizing(border-box);
		}
		&:before {
			background-image: url("../images/site_dist/cupom/modal-decorator.png");
			top: 0;
			height: 22%;
			background-size: 100% auto;
			background-repeat: no-repeat;
			z-index: -1;
		}
		&:after {
			top: 15%;
			height: 84.2%;
			border-left: 2px dotted #eee4a9;
			border-right: 2px dotted #eee4a9;
			z-index: -1;
		}
	}
	.tingle-modal-box__footer {
		&:before {
			position: absolute;
			top: 0;
			left: 7%;
			width: 86%;
			content: '';
			height: 43%;
			border-radius: 0px 0px 15px 15px;
			border-bottom: 2px dotted #eee4a9;
			border-left: 2px dotted #eee4a9;
			border-right: 2px dotted #eee4a9;
			border-top: 0px solid #000;
			@include box-sizing(border-box);
			z-index: -1;
		}
	}

	#sms-phone-block input {
		width: 80%;
		margin: 1em auto 0em auto;
		display: block;
	}
}
.beauty-success-modal {
	.tingle-modal-box__content {
		text-align: center;
		color: #fff;
	}
}

.do-continue-btn {
	width: 130px;
	position: relative;
	left: 0px;
	top: 28px;
	height: 3.2em;
	cursor: pointer;
	font-weight: bold;
	color: #fcf4a9;
	@include appearance( none );
	font-size:1em;
	background-color: transparent;
	border: 0px solid #000;
	outline: none;
	&:before,
	&:after {
		position: absolute;
		left: 50%;
		width: 8px;
		height: 8px;
		content: '';
		border-radius: 50%;
		background-color: #fcf4a9;
		margin-left: -4px;
	}
	&:before {
		top: -4px;
	}
	&:after {
		bottom: -4px;
	}
	span {
		display: inline-block;
		position: relative;
		padding: 1em;
		&:before,
		&:after {
			width: 3em;
			content: '';
			display: block;
			height: 1px;
			position: absolute;
			background: #fcf4a9;
			left: 50%;
			margin-left: -1.5em;
		}
		&:before {
			top: -1px;
		}
		&:after {
			bottom: -1px;
		}
	}
}