/* libs, fonts */
@import "compass";
@import "compass/css3";
@import 'variables';
@import 'mixins';

/* global */
@import 'fonts';
@import 'helpers';
@import 'elements/elements';
@import 'components/components';

@import "pages/pages";

@import "layouts/type-a";
@import "layouts/type-b";

@import "tingle";

body {
	font-size: 16px;
}
.type2{
	background: url('../images/site_dist/green-pattern-v6.png') repeat;
	background-color: #5fb8a9;
}
#hugweek { color: transparent; }
img {
	@include backface-visibility( hidden );
	filter: none; 
	-webkit-filter: blur(0px); 
	-moz-filter: blur(0px); 
	-ms-filter: blur(0px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
@media all and ( min-height: 701px ) and ( max-height: 850px ) {
	#header {
		#hugweek picture img {
			max-height: 180px;
			position: relative;
			top: 10px;
		}
	}
}

@media all and ( min-height: 550px ) and ( max-height: 700px ) {
	#header {
		#nav-list {
			font-size: 0.9em;
		}
		#navigation.di {
			@media all and ( min-aspect-ratio: 1400/600 ) and ( min-height: 560px ) {
				vertical-align: top;
			}
		}
		#hugweek picture img {
			position: relative;
			@media all and ( max-aspect-ratio: 1399/600 ) {
				max-height:160px;
			}
			@media all and ( min-aspect-ratio: 1400/600 ) {
				max-height: 160px;
			}
		}
		.nav-tbb img {
			max-height:40px;
		}
	}
}

@media all and ( min-height: 520px ) and ( max-height: 549px ) {
	#header {
		#nav-list {
			font-size: 0.85em;
		}
		#hugweek picture img {
			max-height: 100px;
			position: relative;
			margin-top: 20px;
		}
		.nav-tbb img {
			max-height:40px;
		}
	}
}

@media all and ( min-height: 420px ) and ( max-height: 519px ) {
	#header {
		#nav-list {
			font-size: 0.7em;
		}
		#hugweek picture img {
			max-height: 80px;
			position: relative;
			margin-top: 63px;
		}
		.nav-items {
			top: 40px;
		}
		.nav-tbb img {
			max-height:32px;
		}
	}
}

@media all and ( max-height: 419px ) {
	#header {
		#nav-list {
			font-size: 0.65em;
		}
		#hugweek picture img {
			max-height: 80px;
			position: relative;
			margin-top: 63px;
		}
		.nav-items {
			top: 40px;
		}
		.nav-tbb img {
			max-height:32px;
		}
	}
	@media all and ( min-width: 1024px ) {
		#index-container {
			#index-resume #index-join {
				font-size: 2em;
				position: relative;
				top: -4.7em;
				left: 13em;
			}
		}
	}
}