.btn {
	cursor: pointer;
}
.btn:active, .btn:hover, .btn:focus {
	outline: none;
}

.nav-participe.participe-btn {
	//@include box-shadow( 0px 2px 9px #476b61 );
}
/*old

.index-join-btn {
	color: $c-yellow;
	padding: 0.2em 0.8em;
	border: 2px dotted rgba(252, 244, 169, 0.68);
	@include appearance( none );
	background-color: transparent;
	background-color: none;
	font-size: 1.18em;
	position: relative;
	display: inline-block;
	font-weight: bold;
	&:before,
	&:after{
		left: 20%;
		width: 60%;
		position: absolute;
		content: '';
		background-image: url('../images/site_dist/btn-elipsis.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% auto;
		height: 7px;
	}
	&:after {
		top: -0.6em;
	}
	&:before { 
		bottom: -0.6em;
	}
}*/
.index-join-btn {
    color: #7aafa0;
    background: #fff;
    font-weight: 600;
    @include box-shadow( 0px 2px 9px #476b61 );
    border-radius: 25px;
    text-decoration: none;
    padding: 0.35em 1em;
    font-size: 1.2em;
}