<div class="list-cupons">
	
	{* modelo 1: por lojas e repetir isto *}
	{* modelo 2: por UF e repetir isto *}

	{* repetir isto *}
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading"> São Paulo </div>
			<div class="panel-body">
			<p>Shopping Bla Bla: brindes </p>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"> 60%
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading"> Loja </div>
			<div class="panel-body"> Loja </div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading"> Loja </div>
			<div class="panel-body"> Loja </div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading"> Loja </div>
			<div class="panel-body"> Loja </div>
		</div>
	</div>

</div>