/* libs, fonts */
/**
 * Fix for vw, vh, vmin, vmax on iOS 7.
 * http://caniuse.com/#feat=viewport-units
 *
 * This fix works by replacing viewport units with px values on known screen sizes.
 *
 * iPhone 6 and 6 Plus cannot run iOS 7, so are not targeted by this fix.
 * Target devices running iOS 8+ will incidentally execute the media query,
 * but this will still produce the expected result; so this is not a problem.
 *
 * As an example, replace:
 *
 *   height: 50vh;
 *   font-size: 5vmin;
 *
 * with:
 *
 *   @include viewport-unit(height, 50vh);
 *   @include viewport-unit(font-size, 5vmin);
 */
/* global */
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'BoutiqueScript';
  src: url("../fonts/boutiquescript-webfont.eot");
  src: url("../fonts/boutiquescript-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/boutiquescript-webfont.woff2") format("woff2"), url("../fonts/boutiquescript-webfont.woff") format("woff"), url("../fonts/boutiquescript-webfont.ttf") format("truetype"), url("../fonts/boutiquescript-webfont.svg#boutique_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: ultra-expanded;
}
.page-titles {
  font-family: 'BoutiqueScript';
  color: #fcf4a9;
}

.steps-titles {
  font-family: 'BoutiqueScript';
  color: #fcf4a9;
  font-size: 70px;
  white-space: nowrap;
}

.b {
  font-weight: 600;
}

@media all and (max-width: 1023px) {
  body .desk-only,
  body .di.v.desk-only {
    display: none;
  }
}
@media all and (min-aspect-ratio: 640 / 380) and (max-height: 459px) and (max-width: 1023px) {
  body .hide-landscape {
    display: none !important;
  }
}
.page-titles {
  text-align: center;
  position: relative;
  line-height: 0;
  margin-bottom: 1em;
}
@media all and (min-width: 768px) {
  .page-titles {
    font-size: 6.6em;
  }
}
@media all and (max-width: 767px) {
  .page-titles {
    font-size: 5.1em;
  }
}

#cadastre.type2 .page-titles {
  margin-bottom: 0.5em;
}

#check-cpf-block {
  text-align: center;
}

.wrap-fields {
  position: relative;
  display: inline-block;
}

#simple-alert {
  position: fixed;
  top: 10%;
  right: 10%;
  box-shadow: 0px 0px 7px #444;
  border-radius: 8px;
  padding: 1em;
  z-index: 10;
}
#simple-alert.success {
  background-color: rgba(90, 177, 161, 0.8);
}
#simple-alert.error {
  background-color: rgba(236, 103, 103, 0.77);
}
#simple-alert ul {
  padding: 0;
  margin: 0;
}
#simple-alert li {
  display: block;
}
#simple-alert #close-alert {
  width: 20px;
  height: 20px;
  top: 7px;
  right: 7px;
  background: none;
  cursor: pointer;
  display: block;
  font-weight: bold;
  border: none;
  position: absolute;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 8px;
  text-align: center;
  padding: 0;
  outline: none;
  text-shadow: 1px 0px 0px #000;
  text-indent: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#simple-alert span {
  font-weight: bold;
  padding-right: 1em;
}

.masks {
  position: relative;
}
.masks.mask-date:before {
  display: none;
  position: relative;
  content: '    /    / ';
  position: absolute;
  left: 1em;
  line-height: 34px;
  color: #545454;
  font-size: 14.2333px;
  white-space: pre;
}

.style-select.type-1 {
  height: 27px;
  background: #fff;
  position: relative;
  border-radius: 10px;
  padding: 0px 16px 0px 10px;
  border: 1px solid #c6c6c6;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.style-select.type-1 .select-value {
  line-height: 27px;
  padding: 0px 16px 0px 10px;
  color: #3c3c3c;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.style-select.type-1:before {
  position: absolute;
  width: 7px;
  height: 15px;
  right: 6px;
  top: 5px;
  content: '';
  background-image: url("../images/site_dist/select-decorator.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.style-select {
  cursor: pointer;
}
.style-select .select-value,
.style-select select {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.style-select select {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 1;
}

.tingle-modal.regulamento-pdf .tingle-modal-box {
  height: 90%;
}
.tingle-modal.regulamento-pdf .tingle-modal-box__content {
  padding: 0;
  height: 100%;
  width: 80%;
}
.tingle-modal.regulamento-pdf .tingle-modal-box__content iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media all and (max-width: 540px) {
  .beauty-modal {
    top: 0;
  }
  .beauty-modal.tingle-modal.beauty-modal {
    top: 0;
  }
  .beauty-modal.tingle-modal .tingle-modal__close {
    display: block;
  }
  .beauty-modal .tingle-modal-box {
    width: 460px;
    left: 50%;
    margin-left: -230px;
    top: 20%;
  }
  .beauty-modal .beauty-modal-close-btn {
    display: none;
  }
  .beauty-modal .tingle-modal-box__footer .tingle-btn--primary {
    background-color: #7abdab;
    color: #fcf4a9;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    width: auto;
  }
}
.beauty-modal .tingle-modal-box {
  padding-top: 1em;
}
.beauty-modal .tingle-modal-box {
  background: url("../images/site_dist/pattern/purple-v8.png") repeat;
}
.beauty-modal .tingle-modal__close {
  display: none;
}
.beauty-modal #beauty-modal-close-btn {
  position: absolute;
  display: block;
  color: #f0f0f0;
  font-family: monospace;
  cursor: pointer;
  border: 0px solid #fff;
  color: #8365a1;
  background-color: #fcf4a9;
  font-size: 3em;
  padding: 0;
  width: 1em;
  height: 1em;
  right: -0.5em;
  top: -0.5em;
  padding: 0;
  line-height: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.beauty-modal #beauty-modal-close-btn span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 44px;
}
.beauty-modal .tingle-modal-box__footer {
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 0 0 1em 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.beauty-modal .tingle-btn--primary {
  background-color: #7abdab;
  color: #fcf4a9;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}
.beauty-modal label {
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.beauty-modal input {
  outline: none;
  border-radius: 20px;
  border: 0px solid #000;
  box-shadow: inset 2px 1px #444;
  -moz-box-shadow: inset 0 2px 5px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: inset 0 2px 5px 1px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 2px 5px 1px rgba(0, 0, 0, 0.35);
  text-align: center;
}
.beauty-modal .tingle-modal-box__content {
  position: relative;
  padding-bottom: 2em;
}
.beauty-modal .tingle-modal-box__content:before, .beauty-modal .tingle-modal-box__content:after {
  position: absolute;
  content: '';
  width: 86%;
  left: 7%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.beauty-modal .tingle-modal-box__content:before {
  background-image: url("../images/site_dist/cupom/modal-decorator.png");
  top: 0;
  height: 22%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: -1;
}
.beauty-modal .tingle-modal-box__content:after {
  top: 15%;
  height: 84.2%;
  border-left: 2px dotted #eee4a9;
  border-right: 2px dotted #eee4a9;
  z-index: -1;
}
.beauty-modal .tingle-modal-box__footer:before {
  position: absolute;
  top: 0;
  left: 7%;
  width: 86%;
  content: '';
  height: 43%;
  border-radius: 0px 0px 15px 15px;
  border-bottom: 2px dotted #eee4a9;
  border-left: 2px dotted #eee4a9;
  border-right: 2px dotted #eee4a9;
  border-top: 0px solid #000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: -1;
}
.beauty-modal #sms-phone-block input {
  width: 80%;
  margin: 1em auto 0em auto;
  display: block;
}

.beauty-success-modal .tingle-modal-box__content {
  text-align: center;
  color: #fff;
}

.do-continue-btn {
  width: 130px;
  position: relative;
  left: 0px;
  top: 28px;
  height: 3.2em;
  cursor: pointer;
  font-weight: bold;
  color: #fcf4a9;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 1em;
  background-color: transparent;
  border: 0px solid #000;
  outline: none;
}
.do-continue-btn:before, .do-continue-btn:after {
  position: absolute;
  left: 50%;
  width: 8px;
  height: 8px;
  content: '';
  border-radius: 50%;
  background-color: #fcf4a9;
  margin-left: -4px;
}
.do-continue-btn:before {
  top: -4px;
}
.do-continue-btn:after {
  bottom: -4px;
}
.do-continue-btn span {
  display: inline-block;
  position: relative;
  padding: 1em;
}
.do-continue-btn span:before, .do-continue-btn span:after {
  width: 3em;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  background: #fcf4a9;
  left: 50%;
  margin-left: -1.5em;
}
.do-continue-btn span:before {
  top: -1px;
}
.do-continue-btn span:after {
  bottom: -1px;
}

.btn {
  cursor: pointer;
}

.btn:active, .btn:hover, .btn:focus {
  outline: none;
}

/*old

.index-join-btn {
	color: $c-yellow;
	padding: 0.2em 0.8em;
	border: 2px dotted rgba(252, 244, 169, 0.68);
	@include appearance( none );
	background-color: transparent;
	background-color: none;
	font-size: 1.18em;
	position: relative;
	display: inline-block;
	font-weight: bold;
	&:before,
	&:after{
		left: 20%;
		width: 60%;
		position: absolute;
		content: '';
		background-image: url('../images/site_dist/btn-elipsis.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% auto;
		height: 7px;
	}
	&:after {
		top: -0.6em;
	}
	&:before { 
		bottom: -0.6em;
	}
}*/
.index-join-btn {
  color: #7aafa0;
  background: #fff;
  font-weight: 600;
  -moz-box-shadow: 0px 2px 9px #476b61;
  -webkit-box-shadow: 0px 2px 9px #476b61;
  box-shadow: 0px 2px 9px #476b61;
  border-radius: 25px;
  text-decoration: none;
  padding: 0.35em 1em;
  font-size: 1.2em;
}

@media all and (max-aspect-ratio: 1281 / 300) and (min-aspect-ratio: 1281 / 399) {
  #index-content ~ #footer {
    width: 66%;
    left: initial;
  }
}
@media all and (max-aspect-ratio: 1281 / 400) and (min-aspect-ratio: 1281 / 500) {
  #index-content ~ #footer {
    width: 62%;
    left: initial;
  }
}
@media all and (max-aspect-ratio: 1280 / 500) {
  #index-content ~ #footer {
    width: 70%;
    left: initial;
  }
}
#footer {
  width: 100%;
  bottom: 0px;
  right: 0%;
  text-align: left;
  background-color: #7abdab;
  height: 2.5em;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}
#footer:before {
  position: absolute;
  bottom: 2.5em;
  right: 0;
  background-repeat: no-repeat;
  content: '';
}
@media all and (min-width: 1440px) {
  #footer:before {
    background-image: url("../images/site_dist/flor.png");
    width: 110px;
    height: 110px;
  }
}
@media all and (max-width: 1439px) {
  #footer:before {
    background-image: url("../images/site_dist/flor.md.png");
    width: 76px;
    height: 76px;
  }
}

#footer-nav {
  text-align: center;
  height: 2.5em;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#footer-nav:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 2.5em;
  position: relative;
}
@media all and (min-width: 1024px) {
  #footer-nav {
    margin: 0 0 0 4em;
  }
}

.nav-footer-list {
  margin: 0;
  padding: 0;
  position: relative;
}
@media all and (max-width: 1439px) {
  .nav-footer-list {
    font-size: 1em;
  }
  .nav-footer-list:before {
    height: 2.5em;
  }
  .nav-footer-list .nav-footer-items {
    line-height: 4em;
  }
}
@media all and (min-width: 1440px) {
  .nav-footer-list {
    font-size: 1.2em;
  }
  .nav-footer-list:before {
    height: 2.1em;
  }
  .nav-footer-list .nav-footer-items {
    line-height: 3.4em;
  }
}
@media all and (min-width: 1660px) {
  .nav-footer-list {
    font-size: 1.4em;
  }
  .nav-footer-list:before {
    height: 1.7858em;
  }
  .nav-footer-list .nav-footer-items {
    line-height: 2.9em;
  }
}
@media all and (min-width: 1860px) {
  .nav-footer-list {
    font-size: 1.6em;
  }
  .nav-footer-list:before {
    height: 1.5858em;
  }
  .nav-footer-list .nav-footer-items {
    line-height: 2.5em;
  }
}
.nav-footer-list:before {
  position: relative;
  content: '';
  width: 1px;
  display: inline-block;
  vertical-align: middle;
}

.nav-footer-items {
  line-height: 2.5em;
  font-size: 0.625em;
  margin: 0 1em;
}

hr.v {
  display: inline-block;
  height: 1.6em;
  width: 2px;
  margin: 0.45em 1em;
  padding: 0;
  border: 0px solid #fff;
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-footer-social-items {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.nav-footer-a {
  display: block;
  margin: 0 auto;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 24px;
  float: none;
}

.nav-footer-insta {
  margin: 0 10px;
}

.nav-footer-fb {
  width: 24px;
}
@media all and (min-width: 1440px) {
  .nav-footer-fb {
    background-image: url("../images/site_dist/icons/facebook.png");
  }
}
@media all and (max-width: 1439px) {
  .nav-footer-fb {
    background-image: url("../images/site_dist/icons/facebook.md.png");
  }
}

.nav-footer-insta {
  width: 24px;
}
@media all and (min-width: 1440px) {
  .nav-footer-insta {
    background-image: url("../images/site_dist/icons/instagram.png");
  }
}
@media all and (max-width: 1439px) {
  .nav-footer-insta {
    background-image: url("../images/site_dist/icons/instagram.md.png");
  }
}

.nav-footer-youtube {
  width: 36px;
}
@media all and (min-width: 1440px) {
  .nav-footer-youtube {
    background-image: url("../images/site_dist/icons/youtube.png");
  }
}
@media all and (max-width: 1439px) {
  .nav-footer-youtube {
    background-image: url("../images/site_dist/icons/youtube.md.png");
  }
}

@media all and (min-width: 1023px) {
  #index-content ~ #footer {
    position: absolute;
  }
}
@media all and (max-width: 1023px) {
  #index-content ~ #footer {
    position: relative;
    width: 100%;
    left: 0;
    float: left;
    z-index: 2;
  }

  #footer-nav {
    marign-left: 0;
  }

  .nav-footer-social-items {
    margin: 0 2em;
  }
}
.nav-footer-items a {
  font-size: 1.2em;
}

#peek-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  left: 0;
  top: 0;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-animation: fadein 0.3s linear 0s 1 normal forwards;
  -webkit-animation: fadein 0.3s linear 0s 1 normal forwards;
  animation: fadein 0.3s linear 0s 1 normal forwards;
}
#peek-loading.disabled {
  -moz-animation: fadeout 0.3s linear 0s 1 normal forwards;
  -webkit-animation: fadeout 0.3s linear 0s 1 normal forwards;
  animation: fadeout 0.3s linear 0s 1 normal forwards;
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@-moz-keyframes fadeout {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.peeek-loading {
  background-color: #38d368;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.peeek-loading ul {
  position: absolute;
  left: calc(50% - 0.7em);
  top: calc(50% - 4.2em);
  display: inline-block;
  text-indent: 2.8em;
}

.peeek-loading ul li:after,
.peeek-loading ul:after {
  width: 1.4em;
  height: 1.4em;
  background-color: #fff;
  border-radius: 100%;
}

.peeek-loading ul li:after {
  content: "";
  display: block;
}

.peeek-loading li {
  position: absolute;
  padding-bottom: 5.6em;
  top: 0;
  left: 0;
}

.peeek-loading li:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: 0.125s;
}

.peeek-loading li:nth-child(1):after {
  animation-delay: 0.125s;
}

.peeek-loading li:nth-child(2) {
  transform: rotate(36deg);
  animation-delay: 0.25s;
}

.peeek-loading li:nth-child(2):after {
  animation-delay: 0.25s;
}

.peeek-loading li:nth-child(3) {
  transform: rotate(72deg);
  animation-delay: 0.375s;
}

.peeek-loading li:nth-child(3):after {
  animation-delay: 0.375s;
}

.peeek-loading li:nth-child(4) {
  transform: rotate(108deg);
  animation-delay: 0.5s;
}

.peeek-loading li:nth-child(4):after {
  animation-delay: 0.5s;
}

.peeek-loading li:nth-child(5) {
  transform: rotate(144deg);
  animation-delay: 0.625s;
}

.peeek-loading li:nth-child(5):after {
  animation-delay: 0.625s;
}

.peeek-loading li:nth-child(6) {
  transform: rotate(180deg);
  animation-delay: 0.75s;
}

.peeek-loading li:nth-child(6):after {
  animation-delay: 0.75s;
}

.peeek-loading li:nth-child(7) {
  transform: rotate(216deg);
  animation-delay: 0.875s;
}

.peeek-loading li:nth-child(7):after {
  animation-delay: 0.875s;
}

.peeek-loading li:nth-child(8) {
  transform: rotate(252deg);
  animation-delay: 1s;
}

.peeek-loading li:nth-child(8):after {
  animation-delay: 1s;
}

.peeek-loading li:nth-child(9) {
  transform: rotate(288deg);
  animation-delay: 1.125s;
}

.peeek-loading li:nth-child(9):after {
  animation-delay: 1.125s;
}

.peeek-loading li:nth-child(10) {
  transform: rotate(324deg);
  animation-delay: 1.25s;
}

.peeek-loading li:nth-child(10):after {
  animation-delay: 1.25s;
}

.peeek-loading li {
  animation: dotAnimation 2.5s infinite;
}

@keyframes dotAnimation {
  0%, 55%, 100% {
    padding: 0 0 5.6em 0;
  }
  5%,50% {
    padding: 2.8em 0;
  }
}
.peeek-loading li:after {
  animation: dotAnimationTwo 2.5s infinite;
}

@-webkit-keyframes dotAnimationTwo {
  0%, 55%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  5%,50% {
    opacity: .5;
    transform: scale(0.5);
  }
}
#index-content:after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-position: center bottom;
  /*
  @media all and (min-width: 1279px) {
  	background-image: url('../images/site_dist/bottom_line.png');
  }
  @media all and (max-width: 1278px) {
  	background-image: url('../images/site_dist/bottom_line.md.png');
  }
  */
  z-index: -1;
}

#index-container {
  height: 100%;
  /*
  &:before {
  	content: '';
  	position: absolute;
  	background-repeat: no-repeat;
  	left: -7%;
  	top: 0;
  	@media all and (min-width: 1440px) {
  		background-image: url('../images/site_dist/pack-line.png');
  	}
  	@media all and (max-width: 1439px) {
  		background-image: url('../images/site_dist/pack-line.md.png');
  	}
  	@media all and (min-width: 1440px) {
  		background-position-y: 40%;
  	}
  	@media all and (max-width: 1439px) {
  		background-position-y: 43%;
  	}
  	width: 80%;
  	height: 70%;
  	background-size: 100% auto;
  }
  */
}
#index-container #index-body {
  position: relative;
}
#index-container #main-title {
  max-width: 100%;
  overflow: hidden;
}
#index-container .main-title {
  text-align: center;
  position: relative;
  display: block;
  white-space: nowrap;
}
#index-container .index-bottle {
  pointer-events: none;
}
@media all and (min-width: 1024px) {
  #index-container .text1 {
    font-weight: 300;
    font-size: 2.46875em;
  }
  #index-container .text2 {
    font-weight: 600;
    font-size: 13.625em;
    font-family: 'BoutiqueScript';
    font-weight: lighter;
  }
  #index-container .text3 {
    font-weight: 600;
    font-size: 1.8125em;
  }
  #index-container .text4 {
    font-size: 2.375em;
  }
  #index-container .line1 {
    left: -1.08em;
    line-height: 2em;
  }
  #index-container .line2 {
    left: 0.12em;
    line-height: 0.45em;
    top: -0.1em;
  }
  #index-container .line3 {
    left: 0.455em;
    top: 0.177em;
    line-height: 1em;
  }
  #index-container .line4 {
    left: 3.5em;
    line-height: 1.4em;
    top: 0.28em;
  }
  #index-container .line5 {
    left: 1.177em;
    top: 0.1142em;
  }
}
#index-container .index-bottle {
  bottom: 0;
  height: 100%;
  overflow: visible;
}
@media all and (min-width: 1024px) {
  #index-container .index-bottle {
    position: absolute;
    right: 50%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 1660) {
  #index-container .index-bottle {
    right: 22%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 1580) and (min-aspect-ratio: 1280 / 1660) {
  #index-container .index-bottle {
    right: 37%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 1500) and (min-aspect-ratio: 1280 / 1580) {
  #index-container .index-bottle {
    right: 40%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 1420) and (min-aspect-ratio: 1280 / 1500) {
  #index-container .index-bottle {
    right: 43%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 1340) and (min-aspect-ratio: 1280 / 1420) {
  #index-container .index-bottle {
    right: 46%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 1260) and (min-aspect-ratio: 1280 / 1340) {
  #index-container .index-bottle {
    right: 49%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 1180) and (min-aspect-ratio: 1280 / 1260) {
  #index-container .index-bottle {
    right: 52%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 1100) and (min-aspect-ratio: 1280 / 1180) {
  #index-container .index-bottle {
    right: 55%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 1020) and (min-aspect-ratio: 1280 / 1100) {
  #index-container .index-bottle {
    right: 58%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 940) and (min-aspect-ratio: 1280 / 1020) {
  #index-container .index-bottle {
    right: 61%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 860) and (min-aspect-ratio: 1280 / 940) {
  #index-container .index-bottle {
    right: 64%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 780) and (min-aspect-ratio: 1280 / 860) {
  #index-container .index-bottle {
    right: 67%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 700) and (min-aspect-ratio: 1280 / 780) {
  #index-container .index-bottle {
    right: 46%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 620) and (min-aspect-ratio: 1280 / 700) {
  #index-container .index-bottle {
    right: 46%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 540) and (min-aspect-ratio: 1280 / 620) {
  #index-container .index-bottle {
    right: 46%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 460) and (min-aspect-ratio: 1280 / 540) {
  #index-container .index-bottle {
    right: 46%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 380) and (min-aspect-ratio: 1280 / 460) {
  #index-container .index-bottle {
    right: 46%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 300) and (min-aspect-ratio: 1280 / 380) {
  #index-container .index-bottle {
    right: 46%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 220) and (min-aspect-ratio: 1280 / 300) {
  #index-container .index-bottle {
    right: 46%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 140) and (min-aspect-ratio: 1280 / 220) {
  #index-container .index-bottle {
    right: 46%;
  }
}
@media all and (min-width: 1024px) and (max-aspect-ratio: 1280 / 60) and (min-aspect-ratio: 1280 / 140) {
  #index-container .index-bottle {
    right: 46%;
  }
}

#index-container .index-bottle img {
  height: 100%;
  width: auto;
  padding-top: 3em;
  margin-bottom: -3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#index-container #index-resume {
  display: inline-block;
  position: relative;
  margin-top: 3em;
  margin-top: 5vh;
  margin-left: -0.8em;
  line-height: 1.6;
  letter-spacing: 0.02em;
  font-size: 1em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  #index-container #index-resume {
    margin-top: 51.2px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  #index-container #index-resume {
    margin-top: 38.4px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
  #index-container #index-resume {
    margin-top: 24px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
  #index-container #index-resume {
    margin-top: 16px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  #index-container #index-resume {
    margin-top: 28.4px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
  #index-container #index-resume {
    margin-top: 16px;
  }
}
@media all and (min-width: 1367px) {
  #index-container #index-resume {
    left: 75%;
  }
}
@media all and (min-width: 1280px) and (max-width: 1366px) {
  #index-container #index-resume {
    left: 77%;
  }
}
@media all and (min-width: 1280px) {
  #index-container #index-resume {
    margin-top: -7.2em;
  }
}
#index-container #index-resume .b-c2 {
  color: #fcf4a9;
}
@media all and (max-width: 1279px) and (min-height: 601px) {
  #index-container #index-resume {
    left: 49%;
  }
}
@media all and (max-width: 1279px) and (min-height: 500px) and (max-height: 600px) {
  #index-container #index-resume {
    left: 50%;
  }
}
@media all and (max-width: 1279px) and (max-height: 499px) {
  #index-container #index-resume {
    left: 51%;
  }
}

#index-container .product {
  color: #fcf4a9;
}
#index-container #index-join {
  text-align: center;
  margin-top: 2em;
}
#index-container .index-body, #index-container .index-bottle {
  z-index: 2;
}
@media all and (max-width: 1023px) {
  #index-container {
    float: left;
    width: 100%;
    padding-top: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100vh;
  }
  #index-container:before {
    background-position-y: 70%;
  }
  #index-container .index-bottle {
    right: 0%;
    position: relative;
    width: 80%;
    clear: both;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
  }
  #index-container .index-bottle img {
    height: auto;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #index-container .index-body {
    text-align: center;
    font-size: 0.85em;
  }
}
@media all and (max-width: 1023px) and (min-aspect-ratio: 560 / 336) and (max-height: 460px) {
  #index-container .index-body {
    font-size: 1.9em;
  }
}

@media all and (max-width: 1023px) {
  #index-container #main-title {
    position: relative;
    font-size: 1.1em;
  }
  #index-container #main-title:before {
    content: '';
    height: 11em;
    width: 13.519em;
    position: relative;
    display: block;
    margin: 0.55em auto 1em auto;
    background-image: url("../images/site_dist/logo-v3.md.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #index-container #index-resume {
    text-align: center;
    left: 0;
    line-height: 1.7;
    margin-top: 13vh;
  }
  #index-container .main-title {
    display: none;
  }
}
@media all and (max-width: 1023px) and (min-width: 368px) and (max-height: 400px) {
  #index-container .index-bottle picture img {
    width: 86%;
    height: auto;
    padding-bottom: 0;
  }
}
@media all and (max-aspect-ratio: 1367 / 768) {
  #index-container .index-bottle {
    text-align: center;
    white-space: nowrap;
  }
  #index-container .index-bottle:before {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    height: 100%;
    content: '';
    width: 1px;
    margin-right: -6px;
  }
  #index-container .index-bottle picture {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    height: 100%;
    width: 100%;
  }
  #index-container .index-bottle picture:before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    height: 100%;
    width: 1px;
    margin-right: -9px;
  }
  #index-container .index-bottle picture img {
    display: inline-block;
    vertical-align: bottom;
  }
}
@media all and (max-aspect-ratio: 1367 / 768) and (min-width: 1024px) {
  #index-container .index-bottle img {
    height: 84%;
    width: auto;
    padding-top: 0;
    padding-top: 0;
  }
}
@media all and (max-aspect-ratio: 1367 / 768) and (max-width: 1023px) {
  #index-container .index-bottle img {
    height: auto;
    width: 100%;
    padding-top: 0;
    padding-top: 0;
  }
}

@media all and (max-height: 519px) and (max-width: 1023px) {
  #index-container #main-title,
  #index-container #main-title:before {
    height: 70px;
    width: 87px;
    margin: 10px auto;
  }
}
@media all and (max-height: 519px) {
  #index-content {
    top: 30%;
    height: 70%;
  }
}
@media all and (min-width: 1024px) and (max-height: 519px) {
  #index-content #index-container {
    font-size: 0.85em;
  }

  #index-content #index-container #main-title {
    margin-bottom: 1em;
  }

  #index-content #index-container #index-resume {
    margin-top: 0;
  }
}
@media all and (min-width: 1024px) {
  #index-content {
    overflow: hidden;
  }
}
@media all and (min-width: 1024px) and (min-height: 200px) and (max-height: 300px) {
  #index-container .index-bottle {
    width: 22%;
  }
}
@media all and (min-width: 1024px) and (min-height: 300px) and (max-height: 400px) {
  #index-container .index-bottle {
    width: 25%;
  }
}

@media all and (min-width: 1024px) and (min-aspect-ratio: 1025 / 620) {
  #index-content #index-container .index-bottle {
    width: 54%;
  }
  #index-content #index-container .index-bottle picture {
    white-space: nowrap;
  }
  #index-content #index-container .index-bottle picture:before {
    position: relative;
    content: '';
    width: 1px;
    height: 100%;
    height: 100%;
    vertical-align: bottom;
    display: inline-block;
    margin-right: -10px;
  }
  #index-content #index-container .index-bottle picture:before img {
    width: 100%;
    height: auto;
  }
}
@media all and (min-width: 1024px) and (max-width: 1527px) {
  #index-content #index-container .index-bottle {
    width: 60%;
    right: 50%;
    left: -10%;
  }
}
@media all and (min-width: 1024px) and (max-width: 1299px) {
  #index-content #index-container .index-bottle {
    width: 60%;
    right: 50%;
    left: -12%;
  }
}
@media all and (max-width: 450px) {
  #index-content #index-container .index-bottle img {
    width: 86%;
    height: auto;
    padding-bottom: 0;
  }
}
@media all and (max-width: 1023px) {
  #index-content,
  #index-content #index-container {
    min-height: 0;
  }

  #index-content #index-container #index-resume {
    margin-top: 10vh;
  }
  #index-container .index-body {
    font-size: 1em;
  }
}
@media all and (min-width: 320px) and (max-width: 568px) {
  #index-container .index-bottle {
    position: relative;
    width: 80%;
    clear: both;
    margin: 0 auto;
  }
  #index-container .index-bottle img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    margin-top: 40px;
  }

  #index-container .index-bottle picture:before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    height: 100%;
    width: 1px;
    margin-right: -9px;
    position: relative;
  }
}
@media all and (max-width: 1024px) and (min-width: 736px) and (max-height: 414px) {
  #index-resume {
    font-size: 1.7em;
  }
}
#abracometro {
  text-align: center;
  color: #fcf4a9;
}
#abracometro.hidden {
  display: none !important;
}

#hugmeter-block {
  /*border: 2px dotted $c-yellow;*/
  color: #fff;
  padding: 0 40px;
  font-size: 1.1em;
  margin: 0.2em auto 0.1em auto;
  font-weight: bold;
  line-height: 1.2;
  font-size: 1.9em;
  position: relative;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  /*
  &:before,
  &:after {
  	position: absolute;
  	content: '';
  	display: block;
  }
  &:before {
  	background-image: url('../images/site_dist/abraco-coraca-r.png');
  	width: 27px;
  	height: 27px;
  	right: -13px;
  	bottom: -15px;
  }
  &:after {
  	background-image: url('../images/site_dist/abraco-coraca-l.png');
  	width: 26px;
  	height: 29px;
  	left: -13px;
  	top: -15px;
  }
  */
}

#hugmeter-title {
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 1.3em;
}

#hugmeter-subtitle {
  font-size: 0.9em;
}

#abracometro {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40%;
}
@media all and (max-width: 1024px) {
  #abracometro {
    display: none !important;
  }
}
@media all and (min-width: 1024px) {
  #abracometro {
    position: absolute;
    top: 30%;
    right: 3%;
    top: 60%;
    right: 37%;
    font-size: 0.7em;
  }
  #abracometro #abracometro-container {
    width: 180px;
  }
}
#abracometro #abracometro-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  margin-top: 10vh;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  #abracometro #abracometro-container {
    margin-top: 102.4px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  #abracometro #abracometro-container {
    margin-top: 76.8px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
  #abracometro #abracometro-container {
    margin-top: 48px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
  #abracometro #abracometro-container {
    margin-top: 32px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  #abracometro #abracometro-container {
    margin-top: 56.8px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
  #abracometro #abracometro-container {
    margin-top: 32px;
  }
}

@media all and (min-aspect-ratio: 1400 / 700) {
  body #header > .container {
    top: 0;
  }
}
@media all and (max-height: 559px) {
  body #header > .container {
    top: -30px;
  }
}

#index-resume {
  text-align: right;
}

@media all and (min-width: 1023px) {
  #index-container #main-title {
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .index-body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 2em;
  }

  #index-container #index-resume,
  #index-container #index-headline {
    top: -90px;
    position: relative;
  }

  #index-container #index-resume {
    position: relative;
    left: initial;
    float: right;
    margin-top: 0vh;
    clear: both;
  }

  #index-container #index-headline {
    float: right;
    clear: both;
    margin-bottom: 1em;
    font-size: 1.3em;
    text-align: right;
  }

  /*
  @media all and ( max-height: 769px ) {
  	#index-container #index-headline {
  		font-size: 2em;
  	}
  	#index-container #index-resume {
  		font-size: 1.2em;
  	}
  }
  */
}
@media all and (min-width: 1023px) and (max-width: 1299px) {
  #index-container #main-title {
    position: relative;
    padding-right: 12em;
  }
}
@media all and (min-width: 1299px) {
  #index-container #main-title {
    position: relative;
    padding-right: 8em;
  }
}
#promocao header#header {
  position: relative;
  float: left;
  width: 100%;
}

#promotion-steps {
  clear: both;
  float: left;
  width: 100%;
  /*
  @media all and (min-width: 1440px ) {
  	background-image: url('../images/site_dist/promocao/line-behind-insta-cell.png');
  }
  @media all and (max-width: 1439px ) {
  	background-image: url('../images/site_dist/promocao/line-behind-insta-cell.png');
  }
  background-repeat: no-repeat;
  background-position: left 55%;
  &:before {
  	content: '';
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width:  100%;
  	height: 100%;
  	@media all and (min-width: 1440px ) {
  		background-image: url('../images/site_dist/promocao/line-one.png');
  	}
  	@media all and (max-width: 1439px ) {
  		background-image: url('../images/site_dist/promocao/line-one.png');		
  	}
  	background-repeat: no-repeat;
  	background-position: right top;
  }
  */
}

#promotion-steps-list {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: right top;
  overflow: hidden;
  white-space: pre-line;
  text-align: center;
  /*
  &:before {
  	content: '';
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width:  100%;
  	height: 100%;
  	@media all and (min-width: 1440px ) {
  		background-image: url('../images/site_dist/promocao/line-behind-pack.png');
  	}
  	@media all and (max-width: 1439px ) {
  		background-image: url('../images/site_dist/promocao/line-behind-pack.png');
  	}
  	background-size: 529px auto;
  	background-repeat: no-repeat;
  	background-position: bottom center;
  }
  */
}

.promotion-steps-items {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.promotion-steps-items figure {
  margin: 0;
}

.step-how-to {
  margin-top: 0;
}

.promo-description {
  color: #fff;
  margin-top: 0;
}

#promo-step-item-1 {
  width: 360px;
}
#promo-step-item-1 .participe-btn {
  clear: both;
  display: inline-block;
  position: relative;
  top: 1.5em;
}

#promo-description-1 {
  width: 12em;
}

#promo-figure-1 {
  white-space: nowrap;
}

#promo-figure-1 figure,
#promo-figure-1 a {
  display: inline-block;
  vertical-align: top;
}

#step-how-to-1 {
  width: 11em;
}

#promo-description-2 {
  position: relative;
}

#step-how-to-2 {
  width: 14em;
}

#promo-description-3 {
  margin-top: 0.8em;
}

#step-how-to-3 {
  width: 8em;
  margin-left: 1.5em;
}

#step-how-to-4 {
  width: 17em;
  margin-left: 1.5em;
}

#promo-step-item-4 {
  margin-bottom: 0;
  position: relative;
  top: -2.5em;
}

#promo-figure-4,
#promo-description-4 {
  vertical-align: top;
}

#step-how-to-5 {
  width: 20em;
  padding-left: 0.8em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media all and (max-width: 559px) {
  .step-how-to {
    margin: 0 auto;
  }

  .promo-figure,
  .promo-description {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .promotion-steps-items,
  .promo-description,
  .step-how-to {
    white-space: normal;
  }

  #promo-figure-1 {
    margin-bottom: -46px;
  }

  #promo-figure-2 {
    margin-bottom: -6px;
  }

  #promo-figure-3 {
    margin-bottom: -26px;
  }

  #promo-figure-4 {
    margin-bottom: -66px;
  }

  #promo-step-item-4 {
    padding-bottom: 1.4em;
  }
}
@media all and (min-width: 560px) and (max-width: 1024px) {
  .promotion-steps-items {
    white-space: nowrap;
  }

  .promo-figure,
  .promo-description {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }

  #step-how-to-1 {
    padding-left: 2.2em;
  }

  #step-how-to-2 {
    padding-left: 2.2em;
  }

  #step-how-to-3 {
    padding-left: 1.4em;
  }

  #step-how-to-4 {
    padding-left: 1.4em;
  }

  #promo-figure-2 img {
    position: relative;
    left: 17px;
  }

  #promo-description-2 {
    margin-top: 60px;
  }

  #promo-description-3 {
    margin-left: -1em;
  }
}
@media all and (min-width: 560px) {
  .promo-figure,
  .promo-description {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }

  .promo-description {
    text-align: left;
  }

  #promo-description-1 {
    margin-top: 1.2em;
    position: relative;
    margin-left: -7.4em;
    top: 3em;
  }

  #promo-description-2 {
    top: -2em;
  }
}
@media all and (max-width: 1023px) {
  .promotion-steps-items {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .promotion-steps-items,
  #promo-step-item-4 {
    margin-left: auto;
    margin-right: auto;
  }

  #promo-description-4 {
    margin-top: 4em;
    margin-left: 0em;
  }
}
@media all and (min-width: 1024px) {
  #promo-step-item-1 {
    position: relative;
    margin: 0 auto;
    padding-top: 5em;
    left: 2em;
    top: -4em;
    margin-bottom: -5em;
    margin-bottom: -3em;
  }

  #promo-step-item-2 {
    margin-top: 1em;
    position: relative;
    margin-left: -36em;
  }

  #promo-step-item-3 {
    position: relative;
    top: -5em;
    margin-left: 31em;
    margin-bottom: -11em;
  }

  #promo-step-item-4 {
    margin-left: -35em;
  }

  .promotion-steps-items {
    white-space: nowrap;
  }

  #promo-step-item-4 {
    margin-bottom: -8em;
  }

  #promo-step-item-5 {
    margin-left: 27em;
  }
}
#promocao #page-title {
  margin-bottom: 0.2em;
}

#duvidas #page-title {
  margin-bottom: 0.7em;
}

#duvidas-block {
  margin-top: 1em;
}

#duvidas-block {
  /*
  background-image: url('../images/site_dist/duvidas/ilustras.png');
  background-repeat: no-repeat;
  background-position: 100% auto;
  */
}

#faq-list {
  padding: 0;
  max-width: 96%;
  margin: 0 auto;
}

.faq-items {
  width: 100%;
  display: inline-block;
  border-radius: 25px;
  border: 2px solid #fcf4a9;
  padding: 0.5em 1em;
  position: relative;
  margin-bottom: 3em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
.faq-items label {
  cursor: pointer;
  z-index: 1;
}
.faq-items:last-child:after {
  display: none;
}
.faq-items:after {
  position: absolute;
  left: 50%;
  height: 4px;
  width: 300px;
  margin-left: -150px;
  bottom: -1.6em;
  content: '';
  border-bottom: 2px dotted #fcf4a9;
}
.faq-items:target {
  background-color: #fff;
}
.faq-items:target .faq-items-title {
  color: #7aafa0;
}
.faq-items:target .faq-item-content-wrapper {
  color: #464646;
}

.faq-item-content-wrapper {
  overflow: hidden;
  position: relative;
  float: left;
  clear: both;
}

.faq-items-title,
.faq-items-title label {
  width: 100%;
  position: relative;
  float: left;
  clear: both;
  display: block;
  text-align: center;
  color: #fcf4a9;
  font-weight: bold;
}

.faq-items-title,
.faq-items-contents {
  -moz-transition: linear 0.3s color;
  -o-transition: linear 0.3s color;
  -webkit-transition: linear 0.3s color;
  transition: linear 0.3s color;
}

.faq-items-contents {
  float: left;
  clear: both;
  margin-top: -100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: margin 0.4s linear, opacity 0.3s linear;
  -o-transition: margin 0.4s linear, opacity 0.3s linear;
  -webkit-transition: margin 0.4s linear, opacity 0.3s linear;
  transition: margin 0.4s linear, opacity 0.3s linear;
}

.faq-controllers {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
}

.faq-items:target .faq-item-content-wrapper .faq-items-contents {
  margin-top: 1em;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

#m-sustentabilidade:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*
  background-image: url('../images/site_dist/promocao/line-behind-insta-cell.png');
  */
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top left;
}

#the-promo-frame {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  height: 400px;
  margin: 1em auto 4em auto;
}
@media all and (max-width: 768px) {
  #the-promo-frame {
    height: 300px;
  }
}
@media all and (max-width: 668px) {
  #the-promo-frame {
    height: 270px;
  }
}
@media all and (max-width: 568px) {
  #the-promo-frame {
    height: 240px;
  }
}
@media all and (max-width: 468px) {
  #the-promo-frame {
    height: 180px;
  }
}

#the-promo-desc {
  max-width: 94%;
  margin: 0 auto;
}

#the-promo-desc {
  max-width: 51em;
}
#the-promo-desc p {
  margin-top: 0;
  margin-bottom: 2em;
}

@media all and (max-width: 1025px) {
  #the-promo-desc {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1em;
  }
}
#participate-block {
  padding-bottom: 200px;
  /*
  &:before {
  	width:  100%;
  	height:  100%;
  	position: absolute;
  	content: '';
  	background-image: url('../images/site_dist/participe_01/bg.png');
  	background-repeat: no-repeat;
  	background-size: 100% auto;
  	background-position: center;
  	@media all and ( min-width: 1979px ) {
  		background-image: url('../images/site_dist/participe_01/2x/bg.png');
  		background-size: 100% auto;
  	}
  }
  */
}

#participate-1-form-block {
  width: 250px;
  height: 208px;
  display: block;
  margin: 0 auto 4em auto;
  /*
  background-image: url('../images/site_dist/participe_01/form-skin-1.png');
  */
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#check-cpf-block #cpf-flabel,
#check-cpf-block #cpf {
  display: block;
  margin: 0 auto;
}
#check-cpf-block #cpf-flabel {
  text-align: center;
  width: 9em;
  font-weight: bold;
  display: block;
  line-height: 1.2;
  font-size: 0.9em;
  margin: 0.9em auto 0.9em;
}
#check-cpf-block #cpf {
  text-align: center;
  border-radius: 25px;
  width: 174px;
  height: 34px;
  box-shadow: inset 2px 0px 3px #444;
  border: none;
  padding: 0 0.8em;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#check-cpf-block #cpf:focus, #check-cpf-block #cpf:active {
  outline: none;
}

#participate-1-form-block {
  position: relative;
}

#participate-1-form-block:before {
  position: absolute;
  content: '';
  left: 10%;
  top: 0;
  width: 80%;
  height: 40px;
  background-image: url("../images/site_dist/participe_01/form-skin-1-top.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 50%;
}

#register-block:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  /*
  @media all and ( min-width: 1281px ) {
  	background-image: url('../images/site_dist/participe_02/2x/bg.png');
  }
  @media all and ( max-width: 1280px ) {
  	background-image: url('../images/site_dist/participe_02/bg.png');
  }
  */
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#register-block-form {
  padding-bottom: 50px;
  /*
  background-image: url('../images/site_dist/participe_02/2x/form-skin-top.png');
  */
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0 auto;
  display: block;
  padding-top: 45px;
}

#register-block-form-body {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#register-submit-block {
  /*
  background-image: url('../images/site_dist/participe_02/2x/form-skin-bottom.png');
  */
  height: 88px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
}

#register-block-form-wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 34px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.register-field-blocks {
  text-align: left;
}
.register-field-blocks label {
  text-align: left;
}
.register-field-blocks .register-fields {
  height: 34px;
  background-color: #fff;
  outline: none;
  padding: 0 0 0 1em;
  font-family: 'OpenSans', 'tahoma';
  border-width: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0px 1px 13px #b0b0b0;
  -webkit-box-shadow: inset 0px 1px 13px #b0b0b0;
  box-shadow: inset 0px 1px 13px #b0b0b0;
}

.register-field-label {
  font-size: 13px;
  font-weight: bold;
}

.register-label {
  display: inline;
  vertical-align: middle;
  font-size: 11.85px;
}

.styled-checkbox {
  display: inline-block;
  vertical-align: middle;
}

/*
#register-submit {
	position: absolute;
	cursor: pointer;
	width: 125px;
	height: 40px;
	background-color: transparent;
	color: transparent;
	top: 38px;
	border-width: 0px;
	&:active {
		box-shadow: 0px 0px 2px #666;
		outline: none;
	}
}
*/
@media all and (min-width: 589px) {
  #register-block-form-body {
    width: 588px;
  }

  #register-submit-block {
    width: 588px;
  }

  #register-block-form-wrapper {
    width: 478px;
  }

  #register-block-form {
    width: 588px;
    min-height: 620px;
    height: auto;
  }

  .register-wrap-field-blocks {
    display: inline-block;
    margin-bottom: 14px;
    vertical-align: top;
  }

  .register-field-blocks {
    float: left;
  }

  .register-field-blocks.r-space {
    margin-right: 28px;
  }

  .register-field-blocks-type3 {
    margin-right: 0;
  }

  .register-field-blocks-type1 .register-fields {
    width: 222px;
  }

  .register-field-blocks-type2,
  .register-field-blocks-type3 {
    display: inline-block;
  }

  .register-field-blocks-type2 input {
    width: 68px;
  }

  .register-field-blocks-type3,
  .register-field-blocks-type3 input {
    width: 126px;
  }

  #register-submit {
    left: 232px;
  }
}
@media all and (max-width: 588px) {
  #register-block-form {
    background-position: center top;
  }

  #register-block-form-wrapper {
    width: 478px;
    max-width: 100%;
  }

  .register-wrap-field-blocks {
    display: block;
    width: 300px;
    margin: 0 auto 14px auto;
  }

  .register-field-blocks-type1 .register-fields {
    width: 300px;
  }

  .register-field-blocks-type2,
  .register-field-blocks-type3 {
    display: inline-block;
  }

  .register-field-blocks-type2 input {
    width: 68px;
  }

  .register-field-blocks-type3,
  .register-field-blocks-type3 input {
    width: 126px;
  }

  #register-submit {
    left: 50%;
    margin-left: -62.5px;
  }

  #numero {
    margin-right: 100px;
  }

  .register-field-boxes {
    max-width: 300px;
    margin: 0 auto;
  }
}
@media all and (min-width: 586px) {
  #register-block-form {
    background-size: 100% auto;
  }

  #register-submit-block {
    background-size: 100% auto;
  }

  #register-block-form-body {
    		/*
    	    border-left: 2px dotted rgb(202, 196, 183);
        	border-right: 2px dotted rgb(202, 196, 183);
        	*/
  }
}
@media all and (max-width: 585px) {
  #register-block-form {
    background-size: 586px auto;
  }

  #register-submit-block {
    background-size: 586px auto;
  }
}
.tingle-modal.clube-da-beauty .tingle-modal-box__content {
  padding: 0;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 1024px) {
  .tingle-modal.clube-da-beauty .tingle-modal__close {
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #2c3e50;
    box-shadow: none;
    color: #fff;
    line-height: 55px;
  }
  .tingle-modal.clube-da-beauty .tingle-modal-box {
    width: 100%;
    height: 100%;
  }
  .tingle-modal.clube-da-beauty .tingle-modal__closeIcon,
  .tingle-modal.clube-da-beauty .tingle-modal__closeLabel {
    display: inline-block;
    vertical-align: top;
  }
  .tingle-modal.clube-da-beauty .tingle-modal__closeIcon {
    font-size: 45px;
    line-height: 49px;
    margin-right: 8px;
  }
  .tingle-modal.clube-da-beauty .tingle-modal__closeLabel {
    font-size: 30px;
  }
}
@media all and (min-width: 1025px) {
  .tingle-modal.clube-da-beauty .tingle-modal-box {
    width: 80%;
    height: 90%;
  }
}

@media all and (max-width: 588px) {
  #field-n-8 .r-space {
    margin-bottom: 1em;
  }
}
#send-hug-title {
  font-weight: bold;
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
  color: #fcf4a9;
}

#cadastre-tip {
  text-align: center;
  color: #fff;
}

#cadastre-tip-title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

#select-store-container {
  position: relative;
  z-index: 1;
}

#select-store-block {
  /*
  &:before {
  	content: '';
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	@media all and ( max-width: 1281px ) {
  		background-image: url('../images/site_dist/escolha/bg.png');
  	}
  	@media all and ( min-width: 1280px ) {
  		background-image: url('../images/site_dist/escolha/2x/bg.png');
  	}
  	background-repeat: no-repeat;
  	background-size: 100% auto;
  	background-position: center top;
  }
  */
}

#select-store-container {
  display: block;
  margin: 2em auto;
}

.instruction-stores-list {
  text-align: center;
}

.stores-filter-block {
  text-align: center;
}

.select-store-content-header {
  height: 25px;
  position: relative;
  border-width: 0px;
  border-spacing: 0px;
  margin-top: 3em;
}

.header-left {
  height: 25px;
  /*
  border-left: 2px dotted $c-yellow;
  border-top: 2px dotted $c-yellow;
  */
  border-radius: 17px 0px 0px 0px;
  width: 20%;
}

.header-right {
  height: 25px;
  /*
  border-right: 2px dotted $c-yellow;
  border-top: 2px dotted $c-yellow;
  */
  border-radius: 0px 17px 0px 0px;
  width: 80%;
}

.header-middle {
  color: #fcf4a9;
  padding: 0 1em;
  font-size: 1em;
  width: auto;
  line-height: 0;
}
.header-middle div {
  white-space: nowrap;
  position: relative;
  top: -1em;
  font-weight: bold;
}

.select-store-content-footer {
  /*
  background-image: url('../images/site_dist/escolha/skin-bottom.png');
  background-repeat: no-repeat;
  background-position: top center;
  */
  width: 100%;
  height: 46px;
}

#select-store-content {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
#select-store-content.loaded {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.stores-list {
  margin: 0;
  padding: 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.stores-items {
  display: block;
  position: relative;
}
.stores-items:first-child {
  border-top-width: 0px;
  margin-top: 0;
}
.stores-items:first-child:before {
  display: none;
}
.stores-items:last-child {
  margin-bottom: 0px;
}
.stores-items:before {
  position: absolute;
  content: '';
  height: 1px;
  left: 15%;
  width: 70%;
  background-color: #fcf4a9;
}
@media all and (min-width: 578px) {
  .stores-items:before {
    top: -2em;
  }
}
@media all and (min-width: 500px) and (max-width: 577px) {
  .stores-items:before {
    top: -2em;
  }
}
@media all and (max-width: 499px) {
  .stores-items:before {
    top: -1.5em;
  }
}

.exchange-button,
.google-maps-irame,
.unavailable-exchange-button {
  width: 147px;
  height: 34px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  outline: none;
}

#participantes .google-maps-irame {
  position: relative;
}
@media all and (min-width: 578px) {
  #participantes .google-maps-irame {
    top: 2.1em;
  }
}
@media all and (min-width: 499px) and (max-width: 577px) {
  #participantes .google-maps-irame {
    top: 2em;
  }
}

.google-maps-irame {
  border: 1px solid #fcf4a9;
  background-color: transparent;
  font-weight: bold;
  color: #fcf4a9;
  -moz-box-shadow: inset 0px 0px 2px #ab95a4;
  -webkit-box-shadow: inset 0px 0px 2px #ab95a4;
  box-shadow: inset 0px 0px 2px #ab95a4;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  box-shadow: 0px 0px 0px #1f715a;
}
.google-maps-irame:hover {
  box-shadow: 0px 0px 4px #1f715a;
}

.exchange-button {
  color: #7aafa0;
  border-width: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(31, 113, 90, 0);
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.exchange-button:hover {
  box-shadow: 0px 0px 12px #1f715a;
}

.stores-filter-cidade,
.stores-filter-estado {
  text-align: left;
}
.stores-filter-cidade .select-value,
.stores-filter-estado .select-value {
  font-size: 0.9em;
}

.stores-items {
  font-size: 0.74em;
  line-height: 1.5;
}
.stores-items h3 {
  font-size: 1.35em;
  font-weight: bold;
}

.schedule-text {
  max-width: 20em;
}

.select-store-content-body {
  min-height: 100px;
}

@media all and (max-width: 499px) {
  .stores-items {
    margin: 3em auto 3em auto;
  }
}
@media all and (min-width: 500px) and (max-width: 577px) {
  .stores-items {
    margin: 4em auto 4em auto;
  }
}
@media all and (min-width: 577px) {
  .stores-items {
    margin: 4em auto 4em auto;
  }
}

@media all and (max-width: 577px) {
  .select-store-content-footer {
    background-size: 580px 45.177px;
  }

  .select-store-content-header {
    width: 100%;
  }

  .header-left,
  .header-right {
    min-width: 40% !important;
  }

  .header-middle {
    text-align: center;
  }

  .header-left {
    border-left-width: 0px;
    border-radius: 0px;
  }

  .header-right {
    border-right-width: 0px;
    border-radius: 0px;
  }

  .instruction-stores-list,
  .stores-filter-block {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1em;
  }

  .stores-filter-estado,
  .stores-filter-cidade {
    margin-bottom: 1em;
  }
  .stores-filter-estado label,
  .stores-filter-cidade label {
    line-height: 1.4;
  }
}
@media all and (min-width: 578px) {
  /*
  .select-store-content-body {
  	border-width: 0px 2px 0px 2px;
  	border-style: dotted;
  	border-color: #dbcea9;
  }
  */
  .select-store-content-footer {
    height: 45.177px;
    width: 580px;
    background-size: 100% auto;
  }

  #select-store-container {
    max-width: 100%;
    width: 580px;
    font-size: 0.84625em;
  }

  .instruction-stores-list {
    font-weight: bold;
  }

  .stores-filter-cidade,
  .stores-filter-estado {
    display: inline-block;
  }

  .stores-filter-estado {
    margin-right: 39px;
  }

  .stores-filter-estado .style-select {
    min-width: 90px;
  }

  .stores-filter-cidade .style-select {
    min-width: 180px;
  }
}
@media all and (min-width: 500px) {
  .stores-items-parts {
    font-size: 1.2em;
    display: inline-block;
    vertical-align: top;
    height: auto;
  }

  .stores-items-text {
    width: 60%;
    margin-right: 4.5%;
  }

  .stores-items-actions {
    width: 35%;
  }

  .stores-items {
    max-width: 435px;
  }
}
@media all and (max-width: 1024px) {
  .tingle-modal.store-confirm-modal .tingle-modal-box {
    width: 80%;
  }
}
@media all and (max-width: 540px) {
  .tingle-modal.store-confirm-modal .tingle-modal-box {
    width: 100%;
  }
}

.google-maps-modal .tingle-modal-box {
  width: 90%;
}
.google-maps-modal .tingle-modal-box__content {
  padding: 0;
}
.google-maps-modal .tingle-modal-box__footer {
  display: none;
}
.google-maps-modal iframe {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 62vh;
  border-width: 0px;
}

.store-confirm-modal .tingle-btn {
  padding: 0.6em;
  font-size: 14px;
  font-weight: bold;
}
.store-confirm-modal .tingle-modal-box__content {
  color: #444;
  text-align: center;
  padding: 2em 1.5em;
}
.store-confirm-modal .tingle-modal-box__content p {
  margin-top: 0;
}
.store-confirm-modal .warn {
  color: #ff6262;
  margin-bottom: 0.6em;
  font-size: 1.1em;
}
.store-confirm-modal .tingle-btn--primary {
  background-color: #5fb8a9;
}
.store-confirm-modal .tingle-btn--danger {
  background-color: #f3685a;
}

.unavailable-exchange-button {
  -moz-border-radius: 0.96154;
  -webkit-border-radius: 0.96154;
  border-radius: 0.96154;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 8px 1px rgba(71, 107, 97, 0.4);
  -webkit-box-shadow: 0 1px 8px 1px rgba(71, 107, 97, 0.4);
  box-shadow: 0 1px 8px 1px rgba(71, 107, 97, 0.4);
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0px solid #fff;
  background-color: #4f4f4f;
  color: #7aafa0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  cursor: initial;
}

#list-store-container {
  position: relative;
  z-index: 1;
}

/*
#list-store-block {
	&:before {
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		background-image: url('../images/site_dist/escolha/bg.png');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center top;
	}
}
*/
#list-store-container {
  display: block;
  margin: 2em auto;
}

.list-store-content-header {
  width: 435px;
  height: 25px;
  position: relative;
  border-width: 0px;
  border-spacing: 0px;
  margin-top: 3em;
}

.list-store-content-footer {
  /*
  background-image: url('../images/site_dist/escolha/skin-bottom.png');
  */
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 46px;
}

#list-store-content {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
#list-store-content.loaded {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

@media all and (max-width: 577px) {
  .list-store-content-footer {
    background-size: 580px 45.177px;
  }

  .instruction-stores-list,
  .stores-filter-block {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1em;
  }

  .stores-filter-estado,
  .stores-filter-cidade {
    margin-bottom: 1em;
  }
  .stores-filter-estado label,
  .stores-filter-cidade label {
    line-height: 1.4;
  }
}
@media all and (min-width: 578px) {
  .list-store-content-body {
    /*
    border-width: 0px 2px 0px 2px;
    border-style: dotted;
    border-color: #dbcea9;
    */
  }

  .list-store-content-footer {
    height: 45.177px;
    width: 580px;
    background-size: 100% auto;
  }

  #list-store-container {
    max-width: 100%;
    width: 580px;
    font-size: 0.84625em;
  }

  .stores-items-actions {
    text-align: right;
  }

  .stores-list-content .google-maps-irame {
    margin-bottom: 1em;
  }
}
@media all and (min-width: 500px) and (max-width: 577px) {
  .stores-list-content .google-maps-irame {
    margin-top: 1.6em;
    margin-bottom: 1em;
  }
}
@media all and (max-width: 499px) {
  .stores-items-parts {
    width: 90%;
    display: block;
    clear: both;
    margin: 0.5em auto 0.5em auto;
    text-align: center;
  }
  .stores-items-parts.stores-items-actions {
    min-height: 40px;
  }
  .stores-items-parts .schedule-text {
    margin: 0 auto;
  }

  .google-maps-irame,
  .exchange-button {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .exchange-button {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
  }
}
.google-maps-modal .tingle-modal-box {
  width: 90%;
}
.google-maps-modal .tingle-modal-box__content {
  padding: 0;
}
.google-maps-modal .tingle-modal-box__footer {
  display: none;
}
.google-maps-modal iframe {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 62vh;
  border-width: 0px;
}

.store-confirm-modal .tingle-btn {
  padding: 0.6em;
  font-size: 14px;
  font-weight: bold;
}
.store-confirm-modal .tingle-modal-box__content {
  color: #444;
  text-align: center;
  padding: 2em 1.5em;
}
.store-confirm-modal .tingle-modal-box__content p {
  margin-top: 0;
}
.store-confirm-modal .warn {
  color: #ff6262;
  margin-bottom: 0.6em;
  font-size: 1.1em;
}
.store-confirm-modal .tingle-btn--primary {
  background-color: #5fb8a9;
}
.store-confirm-modal .tingle-btn--danger {
  background-color: #f3685a;
}

@media all and (max-width: 540px) {
  .google-maps-modal .tingle-modal-box {
    width: 100%;
    height: 100%;
  }
  .google-maps-modal .tingle-modal-box .tingle-modal-box__content {
    height: 100%;
  }

  .store-confirm-modal .tingle-modal-box {
    width: 100%;
    height: 100%;
  }
  .store-confirm-modal .tingle-modal-box .tingle-modal-box__content {
    height: 100%;
  }
  .store-confirm-modal .tingle-modal-box .tingle-modal-box__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
#cupom-wrap-image-block:before {
  background-image: url(../images/site_dist/cupom/spark.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#coupon-block:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  /*
  @media all and ( max-width: 1280px ) {
  	background-image: url('../images/site_dist/cupom/bg.png');
  }
  @media all and ( min-width: 1280px ) {
  	background-image: url('../images/site_dist/cupom/2x/bg.png');
  }
  */
}
#coupon-block .pseudo-table {
  display: table;
  width: 100%;
  max-width: 100%;
  border-spacing: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#coupon-block .pseudo-row {
  display: table-row;
}
#coupon-block .img-action-cells {
  display: table-cell;
}
#coupon-block .img-action-cells.w-btn {
  width: 120px;
}
#coupon-block .img-actions {
  cursor: pointer;
  width: 120px;
  height: 46px;
  font-weight: bold;
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #fcf4a9;
  padding: 0 1em;
  color: #fcf4a9;
}
#coupon-block .cupom-block-titles {
  font-weight: bold;
}
#coupon-block #share-title {
  margin-top: 0.5em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
}
#coupon-block #share-title,
#coupon-block #lets-share-description {
  width: 21em;
  margin: 0 auto;
  text-align: left;
}
#coupon-block #lets-share-description {
  line-height: 1.8;
  margin-bottom: 1em;
}
#coupon-block #recycle-title {
  font-size: 0.9em;
}
#coupon-block #recycle-p {
  font-size: 0.75em;
  margin: 0.5em auto 3em;
  max-width: 27.4em;
  line-height: 1.5;
  text-align: justify;
}
#coupon-block a.share-btn {
  line-height: 34px;
}
#coupon-block .share-btn {
  height: 38px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: 2px dotted #fcf4a9;
  text-align: left;
  padding-left: 44px;
  font-size: 0.8em;
  font-weight: bold;
  color: #fcf4a9;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
@media all and (min-width: 769px) {
  #coupon-block .share-btn {
    width: 166px;
  }
}
@media all and (max-width: 769px) {
  #coupon-block .share-btn {
    width: 246px;
  }
}
#coupon-block #icon-facebook,
#coupon-block #icon-email {
  display: block;
  position: absolute;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#coupon-block #icon-facebook {
  width: 28px;
  height: 28px;
  left: 8px;
  top: 3px;
  background-image: url("../images/site_dist/cupom/fb.png");
}
#coupon-block #icon-email {
  width: 28px;
  height: 21px;
  left: 9px;
  top: 6px;
  background-image: url("../images/site_dist/cupom/icon-email.png");
}

@media all and (max-width: 768px) {
  #coupon-block #cupon-instruction-p {
    margin-bottom: 1.6em;
  }
  #coupon-block #cupom-image-block {
    position: relative;
    width: 100%;
    float: none;
    clear: both;
    text-align: center;
    z-index: 2;
  }
  #coupon-block #cupom-wrap-image-block {
    position: relative;
    margin: 2em auto;
  }
  #coupon-block #cupom-wrap-image-block:before {
    position: absolute;
    content: '';
    width: 52px;
    height: 52px;
    left: -21.66667px;
    top: -21.66667px;
  }
  #coupon-block #cupom-image {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }
  #coupon-block .img-action-cells {
    min-width: 20px;
    height: 20px;
  }
  #coupon-block .img-actions {
    font-size: 12px;
  }
  #coupon-block .lets-mobile-share,
  #coupon-block #lets-share,
  #coupon-block #lets-recycle {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #coupon-block #lets-share,
  #coupon-block #lets-recycle {
    display: block;
  }
  #coupon-block #lets-share {
    margin-top: 2em;
    margin-bottom: 0em;
  }
  #coupon-block #lets-recycle {
    margin-top: 0em;
    margin-bottom: 0em;
  }
  #coupon-block #share-on-facebook {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media all and (max-width: 567px) {
  #coupon-block .share-btn {
    display: block;
    margin: 1em auto 0 auto;
  }

  #cupom-wrap-image-block {
    width: 260px;
    max-width: 70%;
  }

  .cupom-regular-text {
    font-size: 0.8em;
  }
}
@media all and (min-width: 570px) {
  #coupon-block .share-btn {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  #cupom-wrap-image-block {
    width: 347px;
    max-width: 70%;
  }

  .cupom-regular-text {
    font-size: 1em;
  }
}
@media all and (min-width: 769px) {
  #coupon-block #cupom-image-block {
    padding-left: 40px;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #coupon-block #cupom-wrap-image-block {
    position: relative;
    z-index: 2;
    margin-bottom: -370px;
  }
  #coupon-block #cupom-wrap-image-block:before {
    position: absolute;
    content: '';
    width: 52px;
    height: 52px;
    left: -21.66667px;
    top: -21.66667px;
  }
  #coupon-block #promo-info-block {
    position: relative;
    z-index: 1;
    width: 86%;
    height: 410px;
    left: 10%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*
    &:after {
    	display: block;;
    	position: absolute;
    	right: -46px;
    	bottom: -10px;
    	width: 53px;
    	height: 53px;
    	background-image: url('../images/site_dist/cupom/coracoes.png');
    	background-repeat: no-repeat;
    	content: '';
    }
    */
  }
  #coupon-block .img-action-cells {
    min-width: 20px;
    height: 20px;
  }
  #coupon-block .img-action-cells.right-top-corner {
    border-radius: 0px 15px 0px 0px;
  }
  #coupon-block .img-actions {
    width: 130px;
  }
  #coupon-block .pseudo-table,
  #coupon-block #lets-share,
  #coupon-block #lets-recycle {
    float: left;
    width: 100%;
  }
  #coupon-block .pseudo-table {
    position: relative;
  }
  #coupon-block #lets-share {
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #coupon-block #lets-recycle {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding-left: 60px;
    position: relative;
    left: -64px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0;
    border-radius: 0 0 10px 10px;
  }
  #coupon-block #lets-recycle:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0;
    border-radius: 0 0 10px 10px;
  }
  #coupon-block .cupom-block-titles {
    padding-top: 1em;
    text-align: center;
  }
  #coupon-block .share-btn {
    display: block;
    margin: 1em auto;
  }
}
@media all and (min-width: 769px) and (max-width: 840px) {
  #coupon-block #promo-info-block {
    padding-left: 250px;
  }
}
@media all and (min-width: 840px) {
  #coupon-block #promo-info-block {
    padding-left: 331px;
    left: 0;
  }
}
@media all and (min-width: 968px) {
  #cupom-image-block {
    display: block;
    margin: 0 auto;
    max-width: 968px;
  }
}
@media all and (min-width: 541px) {
  .beauty-success-modal .tingle-modal-box,
  .email-share-modal .tingle-modal-box,
  .sms-modal .tingle-modal-box {
    max-width: 350px;
  }
  .beauty-success-modal .tingle-modal-box__footer,
  .email-share-modal .tingle-modal-box__footer,
  .sms-modal .tingle-modal-box__footer {
    padding: 1em 1em;
  }
}

#sms-phone-block,
.email-share-block {
  color: #444;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
#sms-phone-block input, #sms-phone-block label,
.email-share-block input,
.email-share-block label {
  display: block;
}
#sms-phone-block input,
.email-share-block input {
  margin-top: 0.5em;
  width: 100%;
  height: 40px;
  padding: 0 0.7em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.email-share-block + .email-share-block {
  margin-top: 1em;
}

.error-modal {
  color: #ff6262;
}

.success-modal {
  color: #62ff62;
}

#cupom-attention {
  display: block;
  margin: 0em 0 1em 0;
  font-weight: bold;
}

@media all and (max-width: 768px) {
  #download-on-device {
    margin-top: 1em;
  }

  .lets-mobile-share {
    display: block;
    margin-top: 0em;
    margin-bottom: 2em;
  }
  .lets-mobile-share .share-btn {
    padding: 0;
    padding-left: 0 !important;
    text-align: center !important;
    margin-top: 1em;
  }
}
@media all and (max-width: 568px) {
  #send-using-email {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media all and (min-width: 769px) {
  .lets-mobile-share {
    display: none;
  }

  .lets-mobile-share {
    display: none;
  }
}
#send-using-email {
  display: none !important;
}

#lets-share #share-on-facebook {
  display: none !important;
}

#lets-share #share-on-facebook {
  border: 1px solid #fcf4a9;
}

.layout-content.type-a {
  position: absolute;
  left: 0;
  top: 22%;
  width: 100%;
  height: 78%;
}
@media all and (min-height: 167px) {
  .layout-content.type-a {
    font-size: 0.3em;
  }
}
@media all and (min-height: 267px) {
  .layout-content.type-a {
    font-size: 0.31em;
  }
}
@media all and (min-height: 287px) {
  .layout-content.type-a {
    font-size: 0.33em;
  }
}
@media all and (min-height: 300px) {
  .layout-content.type-a {
    font-size: 0.36em;
  }
}
@media all and (min-height: 330px) {
  .layout-content.type-a {
    font-size: 0.41em;
  }
}
@media all and (min-height: 360px) {
  .layout-content.type-a {
    font-size: 0.46em;
  }
}
@media all and (min-height: 390px) {
  .layout-content.type-a {
    font-size: 0.5em;
  }
}
@media all and (min-height: 420px) {
  .layout-content.type-a {
    font-size: 0.54em;
  }
}
@media all and (min-height: 450px) {
  .layout-content.type-a {
    font-size: 0.58em;
  }
}
@media all and (min-height: 480px) {
  .layout-content.type-a {
    font-size: 0.62em;
  }
}
@media all and (min-height: 510px) {
  .layout-content.type-a {
    font-size: 0.66em;
  }
}
@media all and (min-height: 540px) {
  .layout-content.type-a {
    font-size: 0.7em;
  }
}
@media all and (min-height: 570px) {
  .layout-content.type-a {
    font-size: 0.74em;
  }
}
@media all and (min-height: 610px) {
  .layout-content.type-a {
    font-size: 0.88em;
  }
}
@media all and (min-height: 640px) {
  .layout-content.type-a {
    font-size: 0.92em;
  }
}
@media all and (min-height: 670px) {
  .layout-content.type-a {
    font-size: 0.96em;
  }
}
@media all and (min-height: 700px) {
  .layout-content.type-a {
    font-size: 1.04em;
  }
}
@media all and (min-height: 730px) {
  .layout-content.type-a {
    font-size: 1.08em;
  }
}
@media all and (min-height: 760px) {
  .layout-content.type-a {
    font-size: 1.12em;
  }
}
@media all and (min-height: 790px) {
  .layout-content.type-a {
    font-size: 1.16em;
  }
}
@media all and (min-height: 820px) {
  .layout-content.type-a {
    font-size: 1.20em;
  }
}
@media all and (min-height: 850px) {
  .layout-content.type-a {
    font-size: 1.24em;
  }
}
@media all and (min-height: 880px) {
  .layout-content.type-a {
    font-size: 1.28em;
  }
}
@media all and (min-height: 910px) {
  .layout-content.type-a {
    font-size: 1.32em;
  }
}
@media all and (min-height: 940px) {
  .layout-content.type-a {
    font-size: 1.36em;
  }
}
@media all and (min-height: 970px) {
  .layout-content.type-a {
    font-size: 1.40em;
  }
}
@media all and (min-height: 1000px) {
  .layout-content.type-a {
    font-size: 1.44em;
  }
}
@media all and (max-width: 1023px) {
  .layout-content.type-a {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    float: left;
    clear: both;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100vh;
  }
}

#header {
  padding: 0.5em 0;
}

.layout-content.type-b {
  padding-bottom: 2em;
  background: url("../images/site_dist/pattern/purple-v8.png") repeat;
  min-height: 30vh;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .layout-content.type-b {
    min-height: 307.2px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .layout-content.type-b {
    min-height: 230.4px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
  .layout-content.type-b {
    min-height: 144px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
  .layout-content.type-b {
    min-height: 96px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
  .layout-content.type-b {
    min-height: 170.4px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
  .layout-content.type-b {
    min-height: 96px;
  }
}
@media all and (min-width: 1024px) {
  .layout-content.type-b {
    position: relative;
    float: left;
    width: 100%;
  }
}
@media all and (max-width: 1023px) {
  .layout-content.type-b {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 5em;
  }
}

/* ----------------------------------------------------------- */
/* == tingle v0.10.0 */
/* ----------------------------------------------------------- */
.tingle-modal * {
  box-sizing: border-box;
}

.tingle-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

/* confirm and alerts
-------------------------------------------------------------- */
.tingle-modal--confirm .tingle-modal-box {
  text-align: center;
}

/* modal
-------------------------------------------------------------- */
.tingle-modal--noOverlayClose {
  cursor: default;
}

.tingle-modal--noClose .tingle-modal__close {
  display: none;
}

.tingle-modal__close {
  position: fixed;
  top: 10px;
  right: 28px;
  z-index: 1000;
  padding: 0;
  width: 5rem;
  height: 5rem;
  border: none;
  background-color: transparent;
  color: #f0f0f0;
  font-size: 6rem;
  font-family: monospace;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.tingle-modal__closeLabel {
  display: none;
}

.tingle-modal__close:hover {
  color: #fff;
}

.tingle-modal-box {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
  border-radius: 4px;
  background: #fff;
  opacity: 1;
  cursor: auto;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.tingle-modal-box__content {
  padding: 3rem 3rem;
}

.tingle-modal-box__footer {
  padding: 1.5rem 2rem;
  width: auto;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f5f5f5;
  cursor: auto;
}

.tingle-modal-box__footer::after {
  display: table;
  clear: both;
  content: "";
}

.tingle-modal-box__footer--sticky {
  position: fixed;
  bottom: -200px;
  /* TODO : find a better way */
  z-index: 10001;
  opacity: 1;
  -webkit-transition: bottom .3s ease-in-out .3s;
  transition: bottom .3s ease-in-out .3s;
}

/* state
-------------------------------------------------------------- */
.tingle-enabled {
  overflow: hidden;
  height: 100%;
}

.tingle-modal--visible .tingle-modal-box__footer {
  bottom: 0;
}

.tingle-enabled .tingle-content-wrapper {
  -webkit-filter: blur(15px);
  filter: blur(15px);
}

.tingle-modal--visible {
  visibility: visible;
  opacity: 1;
}

.tingle-modal--visible .tingle-modal-box {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.tingle-modal--overflow {
  overflow-y: scroll;
  padding-top: 8vh;
}

/* btn
-------------------------------------------------------------- */
.tingle-btn {
  display: inline-block;
  margin: 0 .5rem;
  padding: 1rem 2rem;
  border: none;
  background-color: grey;
  box-shadow: none;
  color: #fff;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.tingle-btn--primary {
  background-color: #3498db;
}

.tingle-btn--danger {
  background-color: #e74c3c;
}

.tingle-btn--default {
  background-color: #34495e;
}

.tingle-btn--pull-left {
  float: left;
}

.tingle-btn--pull-right {
  float: right;
}

/* responsive
-------------------------------------------------------------- */
@media (max-width: 540px) {
  .tingle-modal-box {
    width: auto;
    border-radius: 0;
  }

  .tingle-modal {
    top: 60px;
    display: block;
    width: 100%;
  }

  .tingle-modal--noClose {
    top: 0;
  }

  .tingle-modal--overflow {
    padding: 0;
  }

  .tingle-modal-box__footer .tingle-btn {
    display: block;
    float: none;
    margin-bottom: 1rem;
    width: 100%;
  }

  .tingle-modal__close {
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #2c3e50;
    box-shadow: none;
    color: #fff;
    line-height: 55px;
  }

  .tingle-modal__closeLabel {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }

  .tingle-modal__closeIcon {
    display: inline-block;
    margin-right: .5rem;
    vertical-align: middle;
    font-size: 4rem;
  }
}
body {
  font-size: 16px;
}

.type2 {
  background: url("../images/site_dist/green-pattern-v6.png") repeat;
  background-color: #5fb8a9;
}

#hugweek {
  color: transparent;
}

img {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  filter: none;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

@media all and (min-height: 701px) and (max-height: 850px) {
  #header #hugweek picture img {
    max-height: 180px;
    position: relative;
    top: 10px;
  }
}
@media all and (min-height: 550px) and (max-height: 700px) {
  #header #nav-list {
    font-size: 0.9em;
  }
}
@media all and (min-height: 550px) and (max-height: 700px) and (min-aspect-ratio: 1400 / 600) and (min-height: 560px) {
  #header #navigation.di {
    vertical-align: top;
  }
}
@media all and (min-height: 550px) and (max-height: 700px) {
  #header #hugweek picture img {
    position: relative;
  }
}
@media all and (min-height: 550px) and (max-height: 700px) and (max-aspect-ratio: 1399 / 600) {
  #header #hugweek picture img {
    max-height: 160px;
  }
}
@media all and (min-height: 550px) and (max-height: 700px) and (min-aspect-ratio: 1400 / 600) {
  #header #hugweek picture img {
    max-height: 160px;
  }
}
@media all and (min-height: 550px) and (max-height: 700px) {
  #header .nav-tbb img {
    max-height: 40px;
  }
}
@media all and (min-height: 520px) and (max-height: 549px) {
  #header #nav-list {
    font-size: 0.85em;
  }
  #header #hugweek picture img {
    max-height: 100px;
    position: relative;
    margin-top: 20px;
  }
  #header .nav-tbb img {
    max-height: 40px;
  }
}
@media all and (min-height: 420px) and (max-height: 519px) {
  #header #nav-list {
    font-size: 0.7em;
  }
  #header #hugweek picture img {
    max-height: 80px;
    position: relative;
    margin-top: 63px;
  }
  #header .nav-items {
    top: 40px;
  }
  #header .nav-tbb img {
    max-height: 32px;
  }
}
@media all and (max-height: 419px) {
  #header #nav-list {
    font-size: 0.65em;
  }
  #header #hugweek picture img {
    max-height: 80px;
    position: relative;
    margin-top: 63px;
  }
  #header .nav-items {
    top: 40px;
  }
  #header .nav-tbb img {
    max-height: 32px;
  }
}
@media all and (max-height: 419px) and (min-width: 1024px) {
  #index-container #index-resume #index-join {
    font-size: 2em;
    position: relative;
    top: -4.7em;
    left: 13em;
  }
}

/*# sourceMappingURL=main.css.map */
