/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 13, ../sass/screen.scss */
header, section {
  float: left;
  width: 100%;
}

/* line 18, ../sass/screen.scss */
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 660px;
}

/* line 25, ../sass/screen.scss */
#img-logo {
  position: relative;
  width: 270px;
  float: left;
  left: 50%;
  margin-left: -135px;
  margin-top: 60px;
}

/* line 34, ../sass/screen.scss */
#box-login {
  width: 100%;
  height: 410px;
  border: 1px solid #c7c7c7;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fcfcfc;
  float: left;
  margin-top: 85px;
  margin-bottom: 60px;
}
/* line 45, ../sass/screen.scss */
#box-login form {
  float: left;
  width: 83.33%;
  left: 50%;
  margin-left: -41%;
  position: relative;
  margin-top: 30px;
  font-weight: 600;
}
/* line 54, ../sass/screen.scss */
#box-login form label {
  float: left;
  width: 100%;
  font-size: 24px;
  color: #15283a;
  margin-bottom: 10px;
}
/* line 62, ../sass/screen.scss */
#box-login form input[type="text"], #box-login form input[type="password"] {
  width: 100%;
  height: 50px;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fafafa;
  float: left;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
/* line 75, ../sass/screen.scss */
#box-login form input[type="submit"] {
  width: 100%;
  height: 59px;
  border: 1px solid #c7c7c7;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #152739;
  float: left;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
