@media all and (max-aspect-ratio: 1281/300 ) and ( min-aspect-ratio: 1281/399 ) {
	#index-content ~ #footer {
		width: 66%;
		left: initial;
	}
}
@media all and (max-aspect-ratio: 1281/400 ) and ( min-aspect-ratio: 1281/500 ) {
	#index-content ~ #footer {
		width: 62%;
		left: initial;
	}
}
@media all and ( max-aspect-ratio: 1280/500 ) {
	#index-content ~ #footer {
		width: 70%;
		left: initial;
	}
}

#footer {
	width: 100%;
	bottom: 0px;
	right: 0%;
	text-align: left;
	background-color: #7abdab;
	height: 2.5em;
	overflow-x: hidden;

	position: relative;
	z-index: 1;

	&:before {
		position: absolute;
		bottom: 2.5em;
		right: 0;
		background-repeat: no-repeat;
		content: '';
		@media all and ( min-width: 1440px ) {
			background-image: url('../images/site_dist/flor.png');
			width: 110px;
			height: 110px;
		}
		@media all and ( max-width: 1439px ) {
			background-image: url('../images/site_dist/flor.md.png');
			width: 76px;
			height: 76px;
		}
	}
}

#footer-nav {
	text-align: center;
	height: 2.5em;
	white-space: nowrap;
	overflow: hidden;
	@include box-sizing(border-box);
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 2.5em;
		position: relative;
	}
	@media all and (min-width: 1024px ) {
		margin: 0 0 0 4em;
	}
}
.nav-footer-list {
	margin: 0;
	padding: 0;
	position: relative;
	@media all and (max-width: 1439px) {
		font-size: 1em;
		&:before{ height: 2.5em; }
		.nav-footer-items  { line-height: 4em; }
	}
	@media all and (min-width: 1440px) {
		font-size: 1.2em;
		&:before{ height: 2.1em; }
		.nav-footer-items  { line-height: 3.4em; }
	}
	@media all and (min-width: 1660px) {
		font-size: 1.4em;
		&:before{ height: 1.7858em; }
		.nav-footer-items  { line-height: 2.9em; }
	}
	@media all and (min-width: 1860px) {
		font-size: 1.6em;
		&:before{ height: 1.5858em; }
		.nav-footer-items  { line-height: 2.5em; }
	}
	&:before {
		position: relative;
		content: '';
		width: 1px;
		display: inline-block;
		vertical-align: middle;;
	}

}

.nav-footer-items {
	line-height: 2.5em;
	font-size: 0.625em;
	margin: 0 1em;
}
hr.v {
	display: inline-block;
	height: 1.6em;
	width: 2px;
	margin: 0.45em 1em;
	padding: 0;
	border: 0px solid #fff;
	background: #fff;
	@include box-sizing( border-box );
}

.nav-footer-social-items {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.nav-footer-a {
	display: block;
	margin: 0 auto;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 24px;
	float: none;
}
.nav-footer-insta {
	margin: 0 10px;
}
.nav-footer-fb {
	width: 24px;
	@media all and (min-width: 1440px) {
		background-image: url('../images/site_dist/icons/facebook.png');
	}
	@media all and (max-width: 1439px) {
		background-image: url('../images/site_dist/icons/facebook.md.png');
	}
}
.nav-footer-insta {
	width: 24px;
	@media all and (min-width: 1440px) {
		background-image: url('../images/site_dist/icons/instagram.png');
	}
	@media all and (max-width: 1439px) {
		background-image: url('../images/site_dist/icons/instagram.md.png');
	}
}
.nav-footer-youtube {
	width: 36px;
	@media all and (min-width: 1440px) {
		background-image: url('../images/site_dist/icons/youtube.png');
	}
	@media all and (max-width: 1439px) {
		background-image: url('../images/site_dist/icons/youtube.md.png');
	}
}

@media all and ( min-width: 1023px ) {
	#index-content ~ #footer {
		position: absolute;
	}
}
@media all and ( max-width: 1023px ) {
	#index-content ~ #footer {
		position: relative;
		width: 100%;
		left: 0;
		float: left;
		z-index: 2;
	}
	#footer-nav {
		marign-left: 0;
	}
	.nav-footer-social-items:not(.nometoque) {
		margin: 0 2em;
	}
}

.nav-footer-items a {
	font-size: 1.2em;
}