#peek-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  left:0;
  top:0;
  @include translateZ( 0 );
  @include animation( fadein 0.3s linear 0s 1 normal forwards  );
  &.disabled {
    @include animation( fadeout 0.3s linear 0s 1 normal forwards  );
  }
}

@include keyframes(fadein) {
  0% { @include opacity( 0 )}
  100% { @include opacity( 0.9 )}
}

@include keyframes(fadeout) {
  0% { @include opacity( 0.9 )}
  100% { @include opacity( 0 )}
}

$size:1.4em;
$dotCount:10;
$animationTime:2.5s;

.peeek-loading{
  background-color: #38d368;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.peeek-loading ul{
  position: absolute;
  left: calc(50% - 0.7em);
  top: calc(50% - 4.2em);
  display: inline-block;
  text-indent:$size*2;
}
.peeek-loading ul li:after,
.peeek-loading ul:after{
  width: $size;
  height: $size;
  background-color: #fff;
  border-radius: 100%;
}
.peeek-loading ul li:after{
  content:"";
  display: block;
}
.peeek-loading li{
  position: absolute;
  padding-bottom: $size*4;
  top: 0;
  left: 0;
}

// Creating Circle and Animation Delay
@for $i from 1 through 10{
  .peeek-loading li:nth-child(#{$i}){
    $deg:($i - 1)*(360deg/$dotCount);
    transform: rotate($deg);
    animation-delay: $animationTime*$i/$dotCount/2;
  }
  .peeek-loading li:nth-child(#{$i}):after{
    animation-delay: $animationTime*$i/$dotCount/2;
  }
}

// Animations
.peeek-loading li{
  animation: dotAnimation $animationTime infinite;
}
@keyframes dotAnimation {
  0%, 55%, 100%    {
    padding: 0 0 $size*4 0;
  }
  5%,50%   {
    padding: $size*2 0;
  }
}

.peeek-loading li:after{
  animation: dotAnimationTwo $animationTime infinite;
}
@-webkit-keyframes dotAnimationTwo {
  0%, 55%, 100%   {
    opacity:1;
    transform: scale(1);
  }
  5%,50%  {
    opacity: .5;
    transform: scale(0.5);
  }
}