.panel-heading img {
  max-width: 80%;
}

.alert-lojistas {
  position: fixed;
  width: 70%;
  right: 2%;
  top: 2%;
}

.login-container {
  position: relative;
  top: 0vh;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.login-container {
  -moz-transition: top 0.6s ease-in-out 0s, opacity 0.5s linear 0s;
  -o-transition: top 0.6s ease-in-out 0s, opacity 0.5s linear 0s;
  -webkit-transition: top 0.6s ease-in-out, opacity 0.5s linear;
  -webkit-transition-delay: 0s, 0s;
  transition: top 0.6s ease-in-out 0s, opacity 0.5s linear 0s;
}

body:before {
  -moz-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
  -webkit-transition: all 0.6s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.6s ease-in-out 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

body.logged:before {
  height: 0%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
body.logged .login-container {
  top: -100vh;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
body.logged #main {
  opacity: 1;
}

#main {
  opacity: 0;
}
#main #lojista-header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  float: left;
}
#main #lojista-nav-list {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
#main .lojista-nav-items {
  display: inline-block;
  float: left;
}
#main .lojista-nav-items a, #main .lojista-nav-items span {
  color: #fff;
  padding: 0 1em;
  box-sizing: border-box;
}
#main #store-name {
  width: 30%;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
#main #logout {
  width: 70%;
  border-bottom: 1px solid #fff;
}
#main #lojista-content {
  float: left;
  width: 100%;
  clear: both;
}
#main #lojista-content-heading {
  position: relative;
}
#main #lojista-content-logo-hug {
  padding: 2% 0;
}
#main #lojista-content-logo-hug picture img {
  display: block;
  margin: 0 auto;
}
#main #lojista-content-logo-tbb {
  position: absolute;
  right: 5%;
  top: 5%;
}
#main .lojistas-blocks {
  text-align: center;
}
#main .cupom-label,
#main .cupom-field {
  height: 30px;
  line-height: 30px;
}
#main .cupom-field input {
  color: #444;
  text-indent: 0.5em;
}
#main .cupom-label {
  width: 11em;
  padding-right: 1em;
  text-align: right;
}
#main .input-blocks {
  display: inline-block;
  vertical-align: middle;
}
#main .button-blocks {
  display: inline-block;
  vertical-align: middle;
}
#main .button-blocks #do-validate {
  background-color: #1c92c7;
  border: none;
  color: #fff;
  height: 60px;
}
#main #numbers-block {
  text-align: center;
}
#main #numbers-block div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em;
}
#main #current-progress {
  background-color: #9fdad0;
  color: #9772ac;
  font-weight: bolder;
  text-align: right;
  padding-right: 1em;
  box-sizing: border-box;
  font-weight: bold;
  min-width: 4em;
}
#main #progress-block,
#main #progress-block #progress,
#main #progress-block #progress #current-progress {
  height: 30px;
  line-height: 30px;
}
#main #progress-block {
  max-width: 800%;
  width: 70%;
  display: block;
  margin: 0 auto;
}
#main #progress-block #progress {
  margin-top: 10px;
  height: 30px;
  display: block;
  position: relative;
  background-color: #888;
  border-radius: 4px;
}
#main #lojista-content-body {
  z-index: 0;
}

#peek-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  left: 0;
  top: 0;
  transform: translateZ(0);
  animation: fadein 0.3s linear 0s 1 normal forwards;
}
#peek-loading.disabled {
  animation: fadeout 0.3s linear 0s 1 normal forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes fadeout {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.peeek-loading {
  background-color: #38d368;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.peeek-loading ul {
  position: absolute;
  left: calc(50% - 0.7em);
  top: calc(50% - 4.2em);
  display: inline-block;
  text-indent: 2.8em;
}

.peeek-loading ul li:after,
.peeek-loading ul:after {
  width: 1.4em;
  height: 1.4em;
  background-color: #fff;
  border-radius: 100%;
}

.peeek-loading ul li:after {
  content: "";
  display: block;
}

.peeek-loading li {
  position: absolute;
  padding-bottom: 5.6em;
  top: 0;
  left: 0;
}

.peeek-loading li:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: 0.125s;
}

.peeek-loading li:nth-child(1):after {
  animation-delay: 0.125s;
}

.peeek-loading li:nth-child(2) {
  transform: rotate(36deg);
  animation-delay: 0.25s;
}

.peeek-loading li:nth-child(2):after {
  animation-delay: 0.25s;
}

.peeek-loading li:nth-child(3) {
  transform: rotate(72deg);
  animation-delay: 0.375s;
}

.peeek-loading li:nth-child(3):after {
  animation-delay: 0.375s;
}

.peeek-loading li:nth-child(4) {
  transform: rotate(108deg);
  animation-delay: 0.5s;
}

.peeek-loading li:nth-child(4):after {
  animation-delay: 0.5s;
}

.peeek-loading li:nth-child(5) {
  transform: rotate(144deg);
  animation-delay: 0.625s;
}

.peeek-loading li:nth-child(5):after {
  animation-delay: 0.625s;
}

.peeek-loading li:nth-child(6) {
  transform: rotate(180deg);
  animation-delay: 0.75s;
}

.peeek-loading li:nth-child(6):after {
  animation-delay: 0.75s;
}

.peeek-loading li:nth-child(7) {
  transform: rotate(216deg);
  animation-delay: 0.875s;
}

.peeek-loading li:nth-child(7):after {
  animation-delay: 0.875s;
}

.peeek-loading li:nth-child(8) {
  transform: rotate(252deg);
  animation-delay: 1s;
}

.peeek-loading li:nth-child(8):after {
  animation-delay: 1s;
}

.peeek-loading li:nth-child(9) {
  transform: rotate(288deg);
  animation-delay: 1.125s;
}

.peeek-loading li:nth-child(9):after {
  animation-delay: 1.125s;
}

.peeek-loading li:nth-child(10) {
  transform: rotate(324deg);
  animation-delay: 1.25s;
}

.peeek-loading li:nth-child(10):after {
  animation-delay: 1.25s;
}

.peeek-loading li {
  animation: dotAnimation 2.5s infinite;
}

@keyframes dotAnimation {
  0%, 55%, 100% {
    padding: 0 0 5.6em 0;
  }
  5%,50% {
    padding: 2.8em 0;
  }
}
.peeek-loading li:after {
  animation: dotAnimationTwo 2.5s infinite;
}
