@import "compass/css3";

.panel-heading img {
  max-width: 80%;
}

.alert-lojistas {
  position: fixed;
  width: 70%;
  right: 2%;
  top: 2%;
}
.login-container {
  position: relative;
  top: 0vh;
  @include opacity(1);
}
.login-container {
  @include transition(
    0.6s top ease-in-out 0s,
    0.5s opacity linear 0s
  );
}
body:before {
  @include transition( 0.6s all ease-in-out  0s );
  @include opacity(1);
}
body.logged {
  &:before {
    height: 0%;
    @include opacity(0);
  }
  .login-container {
    top: -100vh;
    @include opacity(0);
  }
  #main {
    opacity:1;
  }
}
#main {
  opacity:0;
  #lojista-header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: left;
  }
  #lojista-nav-list {
    margin: 0;
    padding: 0;
    white-space:nowrap;
  }
  .lojista-nav-items {
    display: inline-block;
    float: left;
  }
  .lojista-nav-items a, .lojista-nav-items span {
    color: #fff;
    padding: 0 1em;
    @include box-sizing(border-box);
  }
  #store-name {
    width:30%;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
  }
  #logout {
    width:70%;
    border-bottom: 1px solid #fff;
  }
  #lojista-content {
    float: left;
    width: 100%;
    clear: both;
  }
  #lojista-content-heading {
    position: relative;
  }
  #lojista-content-logo-hug {
    padding: 2% 0;
  }
  #lojista-content-logo-hug picture img{
    display: block;
    margin:0 auto;
  }
  #lojista-content-logo-tbb {
    position: absolute;
    right: 5%;
    top:5%;
  }
  .lojistas-blocks {
    text-align: center;
  }
  .cupom-label,
  .cupom-field {
    height: 30px;
    line-height: 30px;
  }
  .cupom-field input {
    color: #444;
    text-indent:0.5em;
  }
  .cupom-label {
    width: 11em;
    padding-right: 1em;
    text-align: right;
  }

  .input-blocks {
    display: inline-block;
    vertical-align: middle;
  }

  .button-blocks {
    display: inline-block;
    vertical-align: middle;
    #do-validate {
      background-color: #1c92c7;
      border: none;
      color: #fff;
      height: 60px;
    }
  }
  #numbers-block {
    text-align: center;
    div {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.5em;
    }
  }
  #current-progress {
    background-color: #9fdad0;
    color: #9772ac;
    font-weight: bolder;
    text-align: right;
    padding-right: 1em;
    @include box-sizing(border-box);
    font-weight:bold;
    min-width: 4em;
  }
  #progress-block,
  #progress-block #progress,
  #progress-block #progress #current-progress {
    height: 30px;
    line-height: 30px;
  }
  #progress-block {
    max-width: 800%;
    width: 70%;
    display: block;
    margin:0 auto;
    #progress {
      margin-top: 10px;
      height:30px;
      display: block;
      position: relative;
      background-color: #888;
      @include border-radius( 4px );
    }
  }
  #lojista-content-body {
    z-index: 0;
  }
}
@import "peek";