<main class="layout-content type-b" id="coupon-block">
	<h2 id="page-title" class="page-titles">Cupom gerado</h2>
	<p id="cupon-instruction-p" style="text-align: center;">
		Grave este cupom no seu celular para apresentar<br>
		na loja do <strong id="store-name">Shopping Villa Lobos</strong>
		<img src="http://localhost/local.abraco/common/uploads/cupom/22/693-022-152.png" alt="">
	</p>

</main>